{% extends "storage/base/steelbase.html" %}

{% block before_css%}
{{block.super}}
<link rel="stylesheet" href="{{STATIC_URL}}style/storage/steelmaterial/barsteel.css" />
{%endblock%}

{% block title %}
<h1>钢材退库</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/steelrefund">钢材退库</a>
<a href="#" class="current">退库单详情</a>
{% endblock %}

{% block inner_content %}
{% comment %}
<h3 class="table-title">板材退库单</h3>
<div class="control-group">
    <button type="button" class="btn btn-default">工作令: {{common_Info.work_order}}</button>
    <button type="button" class="btn btn-default">日期: {{common_Info.date|date:"Ymd"}}</button>
    <button type="button" class="btn btn-default">编号: {{common_Info.form_code}}</button> 
</div>
<table class="table table-bordered" fc="{{common_Info.form_code}}">
    <thead>
        <th>名称</th>
        <th>材质</th>
        <th>规格</th>
        <th>材质编号</th>
        <th>状态</th>
        <th>数量</th>
        <th>重量</th>
        <th>入库单编号</th>
        <th>备注</th>
    </thead>
    <tbody>
        {% for card in return_cards %}
        <tr>
            <td>{{card.steel_material.name}}</td>
            <td>{{card.steel_material.material}}</td>
            <td>{{card.steel_material.specifications}}</td>
            <td>{{card.steel_material.material_number}}</td>
            <td>{{card.status}}</td>
            <td>{{card.quantity}}</td>
            <td>{{card.weight}}</td>
            <td>{{card.steel_material.show_form_code}}</td>
            <td>{{card.remark}}</td>
        </tr>
        <tr>
            <td>套料图</td>
            <td colspan="6">{{card.graph}}</td>
            <td colspan="2">
                <a class="btn btn-primary" href="{{card.graph}}">下载</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>退料员</td>
            <td colspan="2">{{common_Info.returner.userinfo.name}}</td>
            <td>检验员</td>
            <td colspan="2">{{common_Info.inspector.userinfo.name}}</td>
            <td>库管员</td>
            <td colspan="2">{{common_Info.keeper.userinfo.name}}</td>
        </tr>
    </tbody>
</table>
    <center class="card-sure">
        {% ifequal common_Info.return_confirm 0 %}
        <button class="refund-card-ensure-btn btn btn-success">确认</button>   
        {% endifequal %}
    </center>
{% endcomment %}
<div id="refund_table_div">
{% include "storage/wordhtml/steelboardrefund.html" %}
</div>
{% endblock %}
