{% extends "storage/base/steelbase.html" %}
{% block title %}
<h1>钢材入库管理</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/steelentryhome" class="current">钢材入库管理</a>
{% endblock %}
{% block inner_content %}
<h3>钢材入库单</h3>
<div class="span10">
<form class="form-inline">
    {% csrf_token %}
    {% for field in search_form %}
        {{field.label}}
        {{field}}
    {% endfor %}
    <button type="button"  class="btn btn-success" id="steel_entry_search">检索</button>
</form>
<br />
<div id="steelentry">
{% include "storage/widgets/steelmaterialentrytable.html"%}
</div>
</div>
{% endblock %}
