{% extends "storage/base/steelbase.html" %}

{% block sub_sec %}
<a href="#" class="current">钢材入库单</a>
{% endblock %}

{% block title %}
<h1>钢材入库单</h1>
{% endblock %}

{% block inner_content %}
<form class="form form-inline" method="post">
    {% csrf_token%}
    <div class="row" style="margin-bottom:20px;">
        <div class="span3">
            <label class="hz-align">货物来源：</label>
            <strong>{{entry.material_source}}</strong>
        </div>
        <div class="span3">
            <label class="hz-align">入库时间：</label>
            <strong>{{entry.entry_time|date:"Ymd"}}</strong>
        </div>
        <div class="span4">
            <label class="hz-align">入库单编号：</label>
            {% if is_show %}
            <div class="controls-group" style="display:inline" id="entry_code">
                <input type="text" id = "input_entry_code" class="span2" value="{{entry.form_code}}"></input>
            </div>
            {% else %}
            <strong>{{entry.form_code}}</strong>
            {% endif %}
        </div>
    </div>
    <table id="items_table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>工作令</th>
            <th>名称</th>
            <th>规格</th>
            <th>炉号</th>
            <th>批号</th>
            <th>材质</th>
            <th>材质编号</th>
            <th>退库次数</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entry_set %}
        <tr id="{{item.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{item.show_workorder}}</td>
            <td>{{item.name}}</td>
            <td>{{item.specifications}}</td>
            <td>{{item.batch_number}}</td>
            <td>{{item.lot_number}}</td>
            <td>{{item.material}}</td>
            <td>{{item.material_number}}</input></td>
            <td>{{item.return_time}}</input></td>
            <td>{{item.SteelMaterialPurchasingEntry.remark}}</td>
            <td>
                <a type="button" role="button" data-toggle="modal" class="btn btn-primary" href="#myModal" onclick="change_item({{item.id}})">修改</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
    <div class="control-group span12" style="margin-top:50px;">
        <div class="rows span4 purcher">
            采购员：<strong>{{entry.purchaser.userinfo}}</strong>
        </div>
        <div class="span4 purcher">
            检查员：<strong>{{entry.inspector.userinfo}}</strong>
        </div>
        <div class="span4 purcher">
            库管员：<strong>{{entry.keeper.userinfo}}</strong>
        </div>
    </div>
    <center style="margin:110px;">
    {% if is_show %}
    <button  id="entry_confirm" style="width:20%;height:20px;" class="btn btn-primary" type="button" onclick="entryconfirm({{entry.id}});">入库单确认</button>
    {% else %}
        <a style="width:20%;height:20px;" class="btn btn-primary" type="button" href="/storage/steelentryhome">返回</a>
    {% endif %}
    </center>
</form>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加</h3>
    </div>
    <div class="modal-body">
        <form id="entry_item_form" action="" class="form-horizontal">
            {% for field in item_form %}
            <div class="control-group">
                <label class="control-label">{{field.label_tag}}</label>
                <div class="controls">
                    {{field}}
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="save_item();">保存</button>
    </div>
</div>
{% endblock %}