{% extends "storage/base/steelbase.html" %}

{% block title %}
<h1>钢材库存管理</h1>
{% endblock %}

{% block inner_content%}
<div class="row" id="storage-weld-menu">
    <div class="span3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="/storage/steelentryhome">钢材入库管理</a>
    </div>
    <div class="span3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="/storage/steelapply">钢材领用管理</a>
    </div>
    <div class="span3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="/storage/steelrefund">钢材退库管理</a>
    </div>
    <div class="span3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="/storage/steelledger">钢材台账</a>
    </div>
</div>
{% endblock %}

