{% extends "storage/base/steelbase.html" %}
{% block title %}
<h1>钢材入库管理</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/steelentryhome" class="current">钢材入库管理</a>
{% endblock %}
{% block inner_content %}
<h3>未处理入库单</h3>
<div class="span8">
<form class="form-inline" method="post">
    {% csrf_token %}
    {% for field in search_form %}
    {{field.label}}
    {{field}}
    {% endfor %}
    <button class="btn btn-success">检索</button>
</form>
<br />
<table class="table table-bordered">
    <thead>
        <th>工作令</th>
        <th>日期</th>
        <th>采购员</th>
        <th>检查员</th>
        <th>操作</th>
    </thead>
    </tbody>
        {% for entry in entry_set %}
        <tr>
            <td>{{entry.work_order}}</td>
            <td>{{entry.entry_time|date:"Ymd"}}</td>
            <td>{{entry.purchaser.userinfo}}</td>
            <td>{{entry.inspector.userinfo}}</td>
            <td>{% ifequal entry.entry_status  ENTRYSTATUS_END %}<a class="btn" href="/storage/steelentryconfirm/{{entry.id}}">查看</a>{% else %}<a class="btn btn-warning" href="/storage/steelentryconfirm/{{entry.id}}">待处理</a>{% endifequal %}</td>
        </tr>
        {% endfor %}
         </tbody>
</table>
</div>
<script>
    $(function(){
                        $('#entry_time').datetimepicker({format:"yyyy-mm-dd",minView:2});
                                    
            });
</script>
{% endblock %}
