{% extends "storage/base/weldbase.html" %}
{% block title %}
<h1>焊材温湿度记录</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/weldbake">焊材烘焙记录</a>
<a href="#" class="current">烘焙记录卡</a>
{% endblock %}

{% block inner_content %}
<div class="control-group" style="margin-top:20px">
    <button type="button" class="btn btn-primary">编号：{{}}</button>
</div>

<div class="widget-box">
    <div class="widget-content nopadding" id="bake_div" >
    {% include "storage/widgets/bake_form.html" %}
    </div>
</div>
<script>
    $("#btnBakeInsert").attr("style","display:none")
</script>
{% endblock %}
