    <table class="table table-hover table-bordered">
        <tr>
            <th class="fix_th"></th>
            <th class="fix_th">材料名称</th>
            <th class="fix_th">规格</th>
            <th class="fix_th">单位</th>
            <th class="fix_th">数量</th>
            <th class="fix_th">单价</th>
            <th class="fix_th">总价</th>
        </tr>
        <tr>
        	<td>请领</td>
        	<td>{{apply_form.apply_item}}</td>
        	<td></td>
        	<td></td>
        	<td>{{apply_form.apply_quantity}}</td>
        	<td></td>
        	<td></td>
        </tr>
        <tr>
        	<td>实发</td>
        	<td>{{apply_form.actual_item}}</td>
        	<td></td>
        	<td></td>
        	<td>{{apply_form.actual_quantity}}</td>
        	<td></td>
        	<td></td>
        </tr>
        <tr>
        	<td>备注</td>
        	<td colspan="6"></td>
        <tr>
            <td>主管</td>
            <td colspan="2"></td>
            <td>领料</td>
            <td colspan="3"></td>
        </tr>
    </table>