{% extends "storage/auxiliarytools/home.html" %}

{% block title %}
<h1>辅助工具入库</h1>
{% endblock %}

{% block sub_sec %}
<a href="#" class="current">辅助工具入库</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}style/storage/auxiliarytools/auxiliarytools.css"/>
<div style="width:80%; padding:0 80px;">
    {% comment %}
    <h3 style="text-align:center">辅助材料入库</h3>
    <form id="entry_detail_form" method="POST">
        {% csrf_token %}
        <table class="table table-hover table-bordered">
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>类别</th>
            <th>计量单位</th>
            <th>数量</th>
            <th>厂家</th>
        </tr>
        {% for object in sub_objects %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{object.auxiliary_tool.name}}</td>
            <td>{{object.auxiliary_tool.get_model_display}}</td>
            <td>{{object.auxiliary_tool.measurement_unit}}</td>
            <td>{{object.quantity}}</td>
            <td>{{object.auxiliary_tool.manufacturer}}</td>
        </tr>
        {% endfor %}
        </table>
        <input type="hidden" name="object_id" value="{{object.id}}">

    <div class="row-fluid" style="text-align:center">
    <button type="submit" id="confirm" class="btn btn-primary">入库单确认</button>
    </div>
</form>
{% endcomment %}
<div id="auxiliarytools_entry">
{% include "storage/wordhtml/auxiliaryToolEntry.html" %}
</div>
<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>添加</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">备注</label>
                <div class="controls"><input id="id_remark" type="text" name="remark" /></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveItem">保存</button>
    </div>
</div>


</div>
{% endblock%}

