<table class="table table-hover table-bordered">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>类别</th>
        <th>入库数量</th>
        <th>厂家</th>
        <th>日期</th>
        <th></th>
    </tr>
    {% if not rets %}
    <tr>
    <td colspan="8">未找到相关项</td>
    </tr>
    {% endif %}
    {% for record in rets %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{record.auxiliary_tool.name}}</td>
        <td>{{record.auxiliary_tool.get_model_display}}</td>
        <td>{{record.quantity}}</td>
        <td>{{record.auxiliary_tool.manufacturer}}</td>
        <td>{{record.create_time}}</td>
        <td><a href="/storage/auxiliarytools/ledger/entry/entry_card?id={{record.id}}"><button type="button" class="btn btn-info">查看入库单</button></a></td>
    </tr>
    {% endfor %}
</table>
