<table class="table table-hover table-bordered">
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>类别</th>
        <th>现存数量</th>
        <th>厂家</th>
    </tr>
    {% if not rets %}
    <tr>
    <td colspan="8">未找到相关项</td>
    </tr>
    {% endif %}
    {% for record in rets %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{record.name}}</td>
        <td>{{record.get_model_display}}</td>
        <td>{{record.quantity}}</td>
        <td>{{record.manufacturer}}</td>
    </tr>
    {% endfor %}
</table>
