{% extends "storage/auxiliarytools/home.html" %}

{% block title %}
<h1>辅助工具入库台账</h1>
{% endblock %}

{% block sub_sec %}
<a href="/storage/auxiliarytools/ledger" >辅助工具台账</a>
<a href="#" class="current">辅助工具入库台账</a>
{% endblock %}

{% block inner_content%}
{% comment %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}style/storage/auxiliarytools/auxiliarytools.css"/>
        <form id="entry_form" method="POST" class="form-inline">
            {%csrf_token%}
        {{search_form}}
        <button type="submit" id="search_submit" class="btn btn-primary">检索</button>
    </form>
    <div id="entry_table">
    {% include 'storage/auxiliarytools/entry_table.html' %}
    </div>
{% endcomment %}
<h3>辅助工具入库台账</h3>
<div>
    {% include "storage/accountsearch/accountbody.html" %}
</div>
{% endblock%}

