{% extends "base/base.html"%}
{% block before_css%}
{{block.super}}
{%endblock%}
{% block basepage%} 


<div id="header">
	<h1><a href="./dashboard.html">ERP</a></h1>		
</div>


	{% include "base/_usernav.html" %}

 
<div id="sidebar">
	<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
	<ul>
		<li {% block HOME_ACTIVE %}{% endblock %}><a href="/home"><i class="icon icon-home"></i> <span>首页</span></a></li>
        <li class="submenu {% block TECHDATA_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-folder-close"></i> <span>技术资料管理</span></a>
            {% include "techdata/widgets/menu_list.html"%}
		</li>

		<li class="submenu {% block PURCHASING_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-shopping-cart"></i> <span>采购管理</span></a>
			{% include "purchasing/widgets/menu_list.html"%}
		</li>
		<li class="submenu {% block STORAGE_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-th-list"></i> <span>库存管理</span></a>
			{% include "storage/widgets/menu_list.html"%}
		</li>
        <li class="submenu {% block PRODUCE_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-wrench"></i> <span>生产管理</span></a>
		</li>

	</ul>
		
</div>

<div id="content">
   
        {% block main_title %}{% endblock %}
	<div class="container-fluid container-full">

		
		{% block main_content %} {% endblock %}


	</div>
	{# Footer Section #}
	{% block home-footer %}
	{% include "widgets/footer.html" %}
	{% endblock %}
</div>
{% endblock%}
