{% extends "base/base.html"%}
{% block before_css%}
{{block.super}}
{%endblock%}
{% block basepage%} 


<div id="header">
	<h1><a href="./dashboard.html">ERP</a></h1>		
</div>

<div id="user-nav" class="navbar navbar-inverse">
	{% include "base/_usernav.html" %}
</div>

<div id="check_mymessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% include "base/model-message.html" %}
</div>

<div id="sidebar">
	<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
	<ul>
		<li {% block HOME_ACTIVE %}{% endblock %}><a href="/home"><i class="icon icon-home"></i> <span>首页</span></a></li>
		<li class="submenu {% block PURCHASING_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-th-list"></i> <span>采购管理</span></a>
			{% include "purchasing/widgets/menu_list.html"%}
		</li>
		<li class="submenu {% block STORAGE_ACTICVE %}{% endblock %}">
			<a href="#"><i class="icon icon-th-list"></i> <span>库存管理</span></a>
			{% include "storage/widgets/menu_list.html"%}
		</li>
        <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
		<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Interface elements</span></a></li>
		<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
		<li><a href="grid.html"><i class="icon icon-th-list"></i> <span>Grid Layout</span></a></li>
		<li class="submenu">
			<a href="#"><i class="icon icon-file"></i> <spa;n>Sample pages</span> <span class="label">4</span></a>
			<ul>
				<li><a href="invoice.html">Invoice</a></li>
				<li><a href="chat.html">Support chat</a></li>
				<li><a href="calendar.html">Calendar</a></li>
				<li><a href="gallery.html">Gallery</a></li>
			</ul>
		</li>
		<li>
			<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
		</li>
		<li>
			<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a>
		</li>
	</ul>
		
</div>

<div id="content">
   
        {% block main_title %}{% endblock %}
	<div class="container-fluid container-full">

		
		{% block main_content %} {% endblock %}


	</div>
	{# Footer Section #}
	{% block home-footer %}
	{% include "widgets/footer.html" %}
	{% endblock %}
</div>
{% endblock%}
