<!--content for calculate, layout, basic widgets-->

{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

<!-- index style -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/index.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/content.css" >
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}style/accounts_form.css" >


<div class="container form-container ">
	<!-- user information bar -->
	{% include "widgets/userinfo_basicbar.html" %}
	<!-- important features nav-bar -->
	{% include "widgets/features_item_navbar.html" %}
	<!-- calculate content details -->
	{%block calculate-content%} {% endblock %}
</div>

{% endblock %}
