<ul class="nav btn-group">
    <li class="btn btn-inverse" ><a href="javascrpt::void(0);"><span class="text">{{user.userinfo.name}}，欢迎您！</span></a></li>
	<li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">账号信息</span></a></li>
	<li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
		<ul class="dropdown-menu">
		    <li><a class="sAdd" title="" href="#">新消息</a></li>
		    <li><a class="sInbox" title="" href="#">收件箱</a></li>
		    <li><a class="sOutbox" title="" href="#">发件箱</a></li>
		</ul>
	</li>
	<li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li>
</ul>
