<ul class="nav btn-group">
    <li class="btn btn-inverse" ><a href="javascrpt::void(0);"><span class="text">{{user.userinfo.name}}，欢迎您！</span></a></li>
	<li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">账号信息</span></a></li>
	<li id="mymessage_box" class="btn btn-inverse" ><a href="#check_mymessage"><i class="icon icon-envelope"></i><span class="text">消息</span> <span id="unread" class="label label-important">5</span></a></li>
	<li class="btn btn-inverse"><a title="" href="/logout"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li>
</ul>
