<!--check the browser type-->
<div style="width:45%;background-color:#f2dede;border-color: #d6e9c6;" id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="border: 1px solid #fc6;text-align:center;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>欢迎您使用创新创业管理平台</h3>
  </div>
  <div>
    <div style="font-size:20px;padding:20px;margin-bottom:0px;">
      <p class="text-info">为了达到最佳浏览效果，我们推荐您使用以下浏览器</p>
      <p style="font-size:14px;color:#3a87ad">请您<strong>点击</strong>相应的浏览器图标跳转到下载页面进行下载</h5>
    </div>
  </div>
  <hr style="border-bottom: 1px solid #FFFF99;margin:0px;">
  <div style="font-size:20px;padding:20px;margin:10px;">
    <form class="bs-docs-example">
      <center>
        <a href="http://chrome.360.cn/" style="margin-right:15px;" >
            <img border="0" style="width:70px;height:70px;" src="/static/images/360.jpg" title="360极速浏览器(下载快速)"/> 
        </a>
        <a href="http://www.google.cn/intl/zh-CN/chrome/browser/"  style="margin-right:15px;">
          <img border="0" style="width:70px;height:70px;" src="/static/images/chrome.png" title="谷歌浏览器(使用最广)"/>
        </a>
        <a href="http://www.maxthon.cn/" style="margin-right:15px;" >
          <img border="0" style="width:70px;height:70px;" src="/static/images/maxthon-logo.png" title="傲游浏览器"/> 
        </a>
        <a href="http://firefox.com.cn/download/" style="margin-right:15px;" >
          <img border="0" style="width:70px;height:70px;" src="/static/images/browser-icon-firefox.png" title="火狐浏览器"/> 
        </a>
        <a href="http://www.opera.com/zh-cn/computer/windows" style="margin-right:15px;" >
          <img border="0" style="width:70px;height:70px;" src="/static/images/Opera.png" title="Opera浏览器"/> 
        </a>
        <a href="http://ie.sogou.com/" style="margin-right:15px;" >
          <img border="0" style="width:70px;height:70px;" src="/static/images/sogou.jpg" title="搜狗浏览器"/> 
        </a>
      </center>
    </form>
  </div>
  <hr style="border-top: 1px solid #FFFF99;margin:0px;">
  <div style="font-size:20px;padding:20px;margin-bottom:0px;">
    <p style="font-size:18px;" class="text-success">如果您选择使用<strong>360极速浏览器</strong>或是<strong>搜狗浏览器</strong>，我们建议您将浏览器设置为<strong>极速模式</strong>。</p>
  </div>
</div>
<script type='text/javascript' src="{{STATIC_URL}}js/home/checkbrowser.js"></script>
