<div class="modal-header">
    <h2 id="messageLabel">我的邮箱</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="span2">
            <table class="table">
                <tbody>
                    <tr>
                        <th>未读</th>
                        <th>毛小龙</th>
                    </tr>
                    <tr>
                        <th>已读</th>
                        <th>吴球王</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            这是显示内容的
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
</div>
<script>
    $("#mymessage_box").click(function() {
        $("#check_mymessage").modal('show');
    });
</script>
<script type='text/javascript' src="{{STATIC_URL}}js/modal_adaption.js"></script>
