<form class="well form" id="user_info_form" method="POST" action="">
	{{user_form}}
			<!-- <table>
				<tr>
				    <td>
				      <label>姓名：</label>
				    </td>
				    <td>
				      <input type="text" class="input-medium" id="user_name" value={{user.id}}>
				    </td>
				</tr>
				<tr>
				    <td>
				      <label>性别：</label>
				    </td>
				    <td>
				      <input type="text" class="input-medium" id="user_sex" value={{user.userinfo.sex}}>
				    </td>
			    </tr>
			    <tr>
				    <td>
				      <label>固话：</label>
				    </td>
				    <td>
				      <input type="text" class="input-medium" id="user_phone" value={{user.userinfo.phone}}>
				    </td>
				</tr>
				<tr>
				    <td>
				      <label>手机：</label>
				    </td>
				    <td>
				      <input type="text" class="input-medium" id="user_mobile" value={{user.userinfo.mobile}}>
				    </td>
				</tr>
				<tr>
				    <td>
				      <label>邮箱：</label>
				    </td>
				    <td>
				      <input type="text" class="input-medium" id="user_email" value={{user.email}}>
				    </td>
				</tr>
			</table> -->
	    </form>	