<form class="form-search">
  <!-- <label>名称：</label>
  <select id="id_mingcheng" class="form-control input" name="mingcheng">
    {% for item in f1 %}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}
  </select> -->
  <label>规格：</label>
  <select id="id_guige" class="form-control input" name="guige">
    {% for item in f2 %}
    <option value="{{item}}">{{item}}</option>
    {% endfor %}
  </select>
  <label>材质：</label>
  <select id="id_caizhi" class="form-control input" name="caizhi">
    {% for item in f3 %}
    <option value="{{item.0}}">{{item.1}}</option>
    {% endfor %}
  </select>
  <span class="btn search" id="related_search">查询</span>
</form>
