<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" name="all" id="selectall"></th>
            <th>序号</th>
            <th>工作令编号</th>
            <th>名称</th>
            <th>规格</th>
            <th>标准号/图号</th>
            <th>材料牌号</th>
            <!-- <th>单位</th> -->
            <th>数量</th>
            <th>总量</th>
            <!-- <th>库存</th> -->
            <th>相关库存</th>
            <th>完成</th>
            <th>是否已加入订购单</th>
        </tr>
    </thead>
    {% for item in inventory_detail_list%}
    <tr iid="{{item.id}}">
        <td>{%if item.can_choose %}<input type="checkbox" class="checkbox" args="{{item.id}}">{% endif %}</td>
	<td>{{forloop.counter}}</td>
        <td>{{item.sub_workorder|default:""}}</td>
        <td>{{item.name|default:""}}</td>
        <td>{{item.specification|default:""}}</td>
        <td>{{item.schematic_index|default:""}}</td>
        <td>{{item.material|default:""}}</td>
        <!-- <td>{{item.}}</td> -->
        <td>{{item.count|default:""}}</td>
        <td>{{itemtotal_weight|default:""}}</td>
        <!-- <td></td> -->
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#related_model">查看相关库存</button></td>
        <td><button class="btn btn-danger" uid={{item.id}}>完成</button></td>
        <td>{{item.order_status}}</td>
    </tr>
    {% endfor%}
</table>
