<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" name="all" id="selectall"></th>
            <th>序号</th>
            <th>图号</th>
            <th>票号</th>
            <th>材质</th>
            <th>数量</th>
            <th>单重</th>
            <th>总重</th>
            <th>协作内容</th>
            <th>完成</th>
        </tr>
    </thead>
    {% for item in inventory_detail_list%}
    <tr iid="{{item.id}}">
        <td>{%if item.can_choose %}<input type="checkbox" class="checkbox" args="{{item.id}}">{% endif %}</td>
	      <td>{{forloop.counter}}</td>
        <td>{{item.schematic_index|default:""}}</td>
        <td>{{item.index|default:""}}</td>
        <td>{{item.material|default:""}}</td>
        <td>{{item.count|default:""}}</td>
        <td>{{item.net_weight|default:""}}</td>
        <td>{{item.total_weight|default:""}}</td>
        <td><button class="btn btn-danger" uid={{item.id}}>完成</button></td>
        <td></td>
    </tr>
    {% endfor%}
</table>
