<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>图号</th>
            <th>件数</th>
            <th>总量</th>
            <th>零件机加工工艺单</th>
            <th>删除</th>
        </tr>
    </thead>
    {% for item in inventory_detail_list%}
    <tr iid="{{item.id}}">
        <td>{{forloop.counter}}</td>
        <td>{{item.name}}</td>
        <td>{{item.schematic_index}}</td>
        <td>{{item.count}}</td>
        <td>{{total_weight}}</td>
        <td></td>
        <td><button class="btn btn-danger">删除</button></td>
    </tr>
    {% endfor%}
</table>