<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" name="all" id="selectall"></th>
            <th>序号</th>
            <th>名称</th>
            <th>规格</th>
            <th>牌号</th>
            <th>定额(kg)</th>
            <th>执行标准</th>
            <th>备注</th>
        </tr>
    </thead>
    {% for item in inventory_detail_list%}
    <tr iid="{{item.id}}">
        <td>{%if item.can_choose %}<input type="checkbox" class="checkbox" args="{{item.id}}">{% endif %}</td>
        <td>{{forloop.counter}}</td>
        <td>{{item.name}}</td>
        <td>{{item.specification}}</td>
        <td>{{item.material.id}}</td>
        <td>{{item.quota}}</td>
        <td>{{item.standard}}</td>
        <td>{{item.remark}}</td>
        <td></td>
    </tr>
    {% endfor%}
</table>
