{% extends "storage/base/weldbase.html" %}
{% block title %}
<h1>焊材发放回收记录</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/weldapplyrefund">焊材发放回收记录</a>
<a href="#" class="current">#</a>
{% endblock %}

{% block inner_content %}
<div class="control-group" style="margin-top:20px">
    <button type="button" class="btn btn-primary">工作令：{{work_order.name}}</button>
    <button type="button" class="btn btn-primary">产品名称：{{work_order.order.product_name}}</button>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2">焊缝编号</th>
                <th rowspan="2">焊材牌号</th>
                <th rowspan="2">焊材规格</th>
                <th rowspan="2">材质编号</th>
                <th colspan="4">发放</th>
                <th colspan="4">回收</th>
            </tr>
            <tr>
                <th>领用单号</th>
                <th>领用数量</th>
                <th>领用人</th>
                <th>库管人</th>
                <th>退库单号</th>
                <th>退库数量</th>
                <th>退库人</th>
                <th>库管人</th>
        </thead>
        <tbody>
            {% for i in applyrefund_set %}
            <tr>
                <td>{{i.weld_bead_number}}</td>
                <td>{{i.material_mark}}</td>
                <td>{{i.model_number}}</td>
                <td>{{i.material_code}}</td>
                <td>{{i.applycard_code}}</td>
                <td>{{i.actual_weight}}</td>
                <td>{{i.applicant.userinfo}}</td>
                <td>{{i.keeper.userinfo}}</td>
                <td>{{i.weldrefund.refund_code}}</td>
                <td>{{i.weldrefund.refund_weight}}</td>
                <td>{{i.weldrefund.refunder.userinfo}}</td>
                <td>{{i.weldrefund.keeper.userinfo}}</td>
            </tr>
            {% endfor %}
    </table>
</div>
<script>
    $("#btnBakeInsert").attr("style","display:none")
</script>
{% endblock %}
