
<div id="merge_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width=0.8>
    <div class="modal-header">
        <h2 id="myModalLabel">物料合并</h2>
    </div>

    <div class="modal-body">
        <form id="merge_form_div">

        </form>  
    </div>

    <div class="modal-footer">
        <button class="btn btn-success btn-open" data-dismiss="modal" id="merge_confirm">合并确认</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>


