
<div class="span4">
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">名称</label>
		{{order_form.name}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">牌号</label>
		{{order_form.material}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">备注</label>
		{{order_form.remark}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">交货期</label>
		{{order_form.delivery_time}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
	    <label class="span1 label_margin">规格</label>
		{{order_form.specification}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">定额</label>
		{{order_form.quota}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">执行标准</label>
		{{order_form.standard}}
	</div>
</div>

