
<div class="span4">
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">票号</label>
		{{order_form.index}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">图号</label>
		{{order_form.schematic_index}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">数量</label>
		{{order_form.count}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">交付期</label>
		{{order_form.delivery_time}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
	    <label class="span1 label_margin">名称及规格</label>
		{{order_form.name}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">材质</label>
		{{order_form.material}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">备注</label>
		{{order_form.remark}}
	</div>
</div>

