<table class="table table-bordered table-striped table-hover">
  <thead>
		<tr>
			{% if can_choose %}
			<th><input type="checkbox" id="select_all"/></th>
			{% endif %}
			<th>序号</th>
			<th>工作令编号</th>
			<th>名称及规格</th>
			<th>标准号/图号</th>
			<th>材料牌号</th>
			<th>单位</th>
			<th>数量</th>
			<th>备注</th>
			<th>状态</th>
		</tr>
  </thead>
	<tbody>
		{% for item in items_pending %}
		<tr class="pendding" args="{{item.id}}">	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox" args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{item.index}}</td>
        		<td>{{item.order.order_index}}</th>
			<td>{{item.name}}</td>
			<td>{{item.schematic_index}}</td>
			<td>{{item.material}}</td>
			<td></td>
			<td>{{item.materielformconnection.count}}</td>
			<td></td>
			<td>{{item.status}}</td>
		</tr>
		{% endfor %}
		{% for item in items %}
		<tr>	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox" args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{item.index}}</td>
        		<td>{{item.order.order_index}}</th>
			<td>{{item.name}}</td>
			<td>{{item.schematic_index}}</td>
			<td>{{item.material}}</td>
			<td></td>
			<td>{{item.materielformconnection.count}}</td>
			<td></td>
			<td>{{item.status}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
