
<div id="search_div">
    订购单编号: <input type="text" class="input-midium" readonly="true "value="{{order_form.order_id}}" id="index"/> 
    订购单状态: <input type="text" class="input-midium" readonly="true" value="{{order_form.order_status}}" id="status" args="{{order_form.order_status.status}}"/> 
    {% if order_form.order_status.status == 0%}
    <div style="float:right"> 
        <button class="btn btn-primary" id="tech_add"  href="#tech_requirement" data-toggle="modal">填写技术要求</button>
        {% if order_form.order_mod == 0%}
    <button class="btn btn-primary" id="material_merge" href="#merge_modal" data-toggle="modal">物料合并</button>
        {% endif%}
    </div>
    {% endif%}
</div>
<div class="form-inline" style="float:left;">
    编号: <input type="text" class="input-midium" {% if order_form.order_status.status != 0 %}readonly="true "{% endif%}value="{{order_form.number}}" id="number"/> 
    采购技术条件号/修订号: <input type="text" class="input-midium"  {% if order_form.order_status.status != 0 %}readonly="true "{% endif%}value="{{order_form.revised_id}}" id="revised_id" /> 
</div>
{% if order_form.order_status.status == 4%}
<div id="new_purchasing_order">
    <button type="button" class="btn add" id="new_purchase_btn" data-toggle="modal" data-target="#bid_modal">新建标单</button>
    <form class="form-search">
        <select class="input-medium search-query bid-select" id="search-query-1">

        </select>
        <span class="btn search btn-open clear" id="btn-open" data-toggle="modal" data-target="#bid_modal" data-source="#search-query-1">进入</span>
    </form>
</div>
{% endif %}


<div class="widget-content" id="item_table">

</div>
<div class="alert alert-info" >
    <textarea id="tech_requirement_content" readonly=true rows="10" style="border:0;background-color:transparent;width:100%;" >{{order_form.tech_requirement}}</textarea>
</div>
{% if order_form.order_status.status == 0%}
<button class="btn btn-primary" id="order_form_finish">完成</button>
{% endif%}
{% if order_form.order_status.status == 4 %}
<span class="btn" id="add_to_bid" data-toggle="modal" data-target="#bid_list">加入标单</span>
{% endif%}
{% if order_form.order_mod == 0  and order_form.order_status.status == 3%}
<button class="btn" id="generate_execute" >添加到材料执行</button>
{% endif %}

