
<table class="table table-bordered table-striped table-hover">
  <thead>
		<tr>
			{% if can_choose %}
			<th><input type="checkbox" id="select_all"/></th>
			{% endif %}
			<th>序号</th>
			<th>工作令编号</th>
			<th>名称</th>
			<th>规格</th>
			<th>牌号</th>
			<th>定额</th>
			<th>采购</th>
            <th>执行标准</th>
			<th>备注</th>
			<th>状态</th>
			{% if  can_edit %}
			<th>修改</th>
			{% endif %}
		</tr>
  </thead>
	<tbody>
		{% for item in items_pending %}
		<tr class="pendding" args="{{item.id}}">	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox" args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{forloop.counter}}</td>
        	<td>{{item.sub_workorder}}</th>
			<td>{{item.material.get_categories_display}}</td>
			<td>{{item.specification}}</td>
			<td>{{item.material}}</td>
            <td>{{item.quota}}</td>
            <td>{{item.total_weight}}</td>
            <td>{{item.stardard}}</td>
            <td>{{item.remark}}</td>
			<td>{{item.order_status}}</td>
            {% if can_edit %}
			<td>
				<button class="btn btn-primary" uid={{item.id}}>修改</button>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% for item in items %}
		<tr mod="1">	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox"  args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{forloop.counter}}</td>
        	<td>{{item.sub_workorder}}</th>
			<td>{{item.material.get_categories_display}}</td>
			<td>{{item.specification}}</td>
			<td>{{item.material}}</td>
            <td>{{item.quota}}</td>
            <td>{{item.total_weight}}</td>
            <td>{{item.stardard}}</td>
            <td>{{item.remark}}</td>
			<td>{{item.order_status}}</td>
			{% if  can_edit %}
			<td>
				<button class="btn btn-primary" id="edit" uid={{item.id}}>修改</button>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>



