<table class="table table-bordered table-striped table-hover">
  <thead>
		<tr>
			{% if can_choose %}
			<th><input type="checkbox" id="select_all"/></th>
			{% endif %}
			<th>序号</th>
			<th>工作令编号</th>
			<th>票号</th>
			<th>名称及规格</th>
			<th>图号</th>
			<th>材质</th>
			<th>数量</th>
			<th>单重</th>
			<th>总重</th>
			<th>备注</th>
			<th>状态</th>
			{% if can_edit %}
			<th>修改</th>
			{% endif %}
		</tr>
  </thead>
	<tbody>
		{% for item in items_pending %}
		<tr class="pendding" args="{{item.id}}">	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox" args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{forloop.counter}}</td>
        	<td>{{item.sub_workorder}}</th>
			<td>{{item.index|default:""}}</td>
			<td>{{item.name|default:""}}</td>
			<td>{{item.schematic_index|default:""}}</td>
			<td>{{item.material|default:""}}</td>
            <td>{{item.count|default:""}}</td>
			<td>{{item.net_weight|default:""}}</td>
			<td>{{item.total_weight_cal|default:""}}</td>
            <td>{{item.remark|default:""}}</td>
			<td>{{item.order_status}}</td>
            {% if can_edit %}
			<td>
				<button class="btn btn-primary" uid={{item.id}}>修改</button>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
		{% for item in items %}
		<tr mod="1">	
			{% if can_choose %}
			<td>{% if item.can_choose %}
			<input type="checkbox" class="checkbox"  args="{{item.id}}">
			{% endif %}</td> {% endif %}
			<td>{{forloop.counter}}</td>
        	<td>{{item.sub_workorder|default:""}}</th>
			<td>{{item.index|default:""}}</td>
			<td>{{item.name|default:""}}</td>
			<td>{{item.schematic_index|default:""}}</td>
			<td>{{item.material|default:""}}</td>
            <td>{{item.count}}</td>
			<td>{{item.net_weight}}</td>
			<td>{{item.total_weight_cal}}</td>
            <td>{{item.remark|default:""}}</td>
			<td>{{item.order_status|default:""}}</td>
			{% if  can_edit%}
			<td>
				<button class="btn btn-primary" id="edit" uid={{item.id}}>修改</button>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>


