{% extends "management/base/none_nav_base.html"%}

{% block title %}
<h1>消息管理</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">消息管理</a>
{% endblock %}

{% block inner_content%}
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<link rel="stylesheet" href="{{ STATIC_URL }}style/adminStaff/font-awesome.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}style/adminStaff/news_release.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}admin/css/forms.css" type="text/css" media="screen" />
<script>function gettext(txt){return txt}</script>
<script type='text/javascript' src="{{STATIC_URL}}js/news/news_toolbar.js"></script>
<form id="message_form" action="/adminStaff/news_release" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    标题: {{messageform.message_title}}
  </div>
  <div>
      {{messageform.message_content}}
  </div>
  <div>
	消息附件: {{messageform.message_document}}
  </div>
  <div>
	发送到群组: {{messageform.message_groups}}
  </div>
  <div class="form-actions">
    <span class="pull-right">
      <button class="btn">取消</button>
    </span>
    <span class="pull-right" style="padding-right: 10px">
      <button type="submit" class="btn btn-primary" disabled id="news_release_button">发送</button>
    </span>
  </div>
</form>
<!-- ajax_csrf-->
<script type='text/javascript' src="{{STATIC_URL}}js/news/news_release.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/news/jquery.hotkeys.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/news/bootstrap-wysiwyg.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/news/wysiwyg-config.js"></script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

{% endblock%}
