{% extends "storage/base/outsidebase.html" %}

{% block title %}
<h1>焊接材料库存管理</h1>

{% endblock %}

{% block sub_sec %}
<a href="/storage/outside/outsideaccounthome" class="current">外购件台账</a>
{% endblock %}
{% block inner_content%}
<div class="row span12" id="storage-menu">
    <div class="e3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="{% url outside_account_entryhome %}">外购件入库台账</a>
    </div>
    <div class="e3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="{% url outside_account_applycardhome %}">外购件出库台账</a>
    </div>
    <div class="e3">
        <img class="storage-icon" src="{{STATIC_URL}}/img/storage-entry.png"/>
        <a href="/storage/outside/outsidestorageaccount">外购件库存台账</a>
    </div>
</div>
{% endblock%}
