{% extends "storage/base/outsidebase.html" %}

{% block sub_sec %}
<a href="#" class="current">外购件领用单</a>
{% endblock %}

{% block title %}
<h1>外购件领用单</h1>
{% endblock %}

{% block inner_content %}
<div id="applycard">
    {% include "storage/wordhtml/outsideapplycard.html"%}
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width=0.7>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加</h3>
    </div>
    <div class="modal-body">
        {% include "storage/widgets/search_material.html"%}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="outside_select_save">保存</button>
    </div>
</div>
{% endblock %}
