{% extends "storage/base/outsidebase.html" %}

{% block sub_sec %}
<a href="#" class="current">外购件入库单</a>
{% endblock %}

{% block title %}
<h1>外购件入库单</h1>
{% endblock %}

{% block inner_content %}
<div id="entrybody">
    {% include "storage/wordhtml/outsideentry.html" %}
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加</h3>
    </div>
    <div class="modal-body">
        <form id="entry_item_form" action="" class="form-horizontal" iid={{is_show}}>
            <div class="control-group">
                {% for field in form%}
                    <label class="control-label">{{field.label}}</label>
                    <div class="controls">
                        {{field}}
                    </div>
                {% endfor %}               
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" data-dismiss="modal" id="save_entry_item">保存</button>
    </div>
</div>
{% endblock %}

