
<div class="span4">
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{subapply_form.receipts_code.label}}</label>
		{{subapply_form.receipts_code}}
	</div>
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{subapply_form.pic_code.label}}</label>
		{{subapply_form.pic_code}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
        <label class="span1 label_margin">{{subapply_form.work_order.label}}</label>
		{{subapply_form.work_order}}
	</div>
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{subapply_form.production_name.label}}</label>
		{{subapply_form.production_name}}
	</div>
</div>
