
<div class="span4">
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.mat_pic_code.label}}</label>
		{{subitem_form.mat_pic_code}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.old_name.label}}</label>
		{{subitem_form.old_name}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.old_standard.label}}</label>
		{{subitem_form.old_standard}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.old_size.label}}</label>
		{{subitem_form.old_size}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.pic_ticket_code.label}}</label>
		{{subitem_form.pic_ticket_code}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.new_name.label}}</label>
		{{subitem_form.new_name}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.new_standard.label}}</label>
		{{subitem_form.new_standard}}
	</div>
	<div class="form-inline div_large_margin">
        <label class="span1 label_margin">{{subitem_form.new_size.label}}</label>
		{{subitem_form.new_size}}
	</div>
</div>
