<table class="table table-bordered apply-card-table" style="width:70%">
    <thead>
        <th>日期</th>
        <th>编号</th>
        <th>领用人</th>
        <th>领用单位</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for ref_obj in apply_cards %}
        <tr>
            <td>{{ref_obj.create_time|date:"Y年m月d日"}}</td>
            <td>{{ref_obj.applycard_code}}</td>
            <td>{{ref_obj.applicant.userinfo.name}}</td>
            <td>{{ref_obj.department}}</td>
            <td>
                {% ifequal ref_obj.status APPLYCARD_KEEPER%}
                    <a class="btn btn-warning" href="/storage/steelapplydetail/{{ref_obj.id}}">待处理</a>
                {% else %}
                    <a class="btn btn-primary" href="/storage/steelapplydetail/{{ref_obj.id}}">查看</a>
                {% endifequal %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
