<div>
<form class="form-inline" method="post">
    {% csrf_token %}
    {% for field in search_form %}
    {{field.label}}
    {{field}}
    {% endfor %}
    <button class="btn btn-success">检索</button> 
</form>
</div>
<br>
<div class="span8">
<table class="table table-bordered">
    <thead>
        <th>工作令</th>
        <th>编号</th>
        <th>日期</th>
        <th>领用人</th>
        <th>领用单位</th>
    </thead>
    </tbody>
        {% for card in card_set %}
        <tr>
            <td>{{card.workorder}}</td>
            <td>{{card.entry_code}}</td>
            <td>{{card.date|date:"Y年m月d日"}}</td>
            <td>{{card.proposer.userinfo|default_if_none:""}}</td>
            <td>{% ifequal card.entry_status  APPLYSTATUS_END %}<a class="btn" href="/storage/{{applyurl}}/{{card.id}}">查看</a>{% else %}<a class="btn btn-warning" href="/storage/{{applyurl}}/{{card.id}}">待处理</a>{% endifequal %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function(){
                        $('#date').datetimepicker({format:"yyyy-mm-dd",minView:2});
                                    
            });
</script>
</div>
