<table class="table table-hover table-bordered" style="width:60%">
   <tr>
   <th>入库单编号</th>
   <th>日期</th>
   <th>采购员</th>
   <th>检查员</th>
   <th>操作</th>
   </tr>
   {% for entry in entry_list %}
   <tr>
   <td>{{entry.entry_code}}</td>
   <td>{{entry.create_time|date:'Y年m月d日'}}</td>
   <td>{{entry.purchaser.userinfo.name}}</td>
   <td>{{entry.inspector.userinfo.name}}</td>
   <td><a href="/storage/auxiliarytools/entry?id={{entry.id}}">
    {% ifequal entry.entry_status default_status %}
        <button type="button" class="btn btn-warning">待处理</button>
    {% else %}
        <button type="button" class="btn">查看</button>
    {% endifequal %}
    </a>
    </td>
   </tr>

   {% endfor %}
   </table>
