<table id="items_table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>工作令</th>
            <th>材料名称</th>
            <th>规格</th>
            <th>材质</th>
            <th>材质编号</th>
            <th>炉号</th>
            <th>批号</th>
            <th>数量</th>
            <th>重量</th>
            <th>单位</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in entry_set %}
        <tr id="{{item.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{item.steel_material.work_order}}</td>
            <td>{{item.steel_material.name}}</td>
            <td>{{item.steel_material.specifications}}</td>
            <td>{{item.steel_material.material}}</td>
            <td>{{item.steel_material.material_number}}</input></td>
            <td>{{item.steel_material.batch_number}}</td>
            <td>{{item.steel_material.lot_number}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.weight_management}}</td>
            <td>{{item.remark}}</td>
            <td>
                <a type="button" role="button" data-toggle="modal" class="btn btn-primary" href="#myModal" onclick="change_remark({{item.id}})">修改</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>