<table class="table table-bordered">
    <thead>
        <th>牌号</th>
        <th>规格</th>
        <th>库存数量</th>
        <th>材料批号</th>
        <th>材质编号</th>
        <th>厂家</th>
    </thead>
    </tbody>
        {% for item in items_set %}
        <tr>
            <td>{{item.brand}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.count}}</td>
            <td>{{item.charge_number}}</td>
            <td>{{item.material_id}}</td>
            <td>{{item.factory}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
