<table class="table table-bordered">
    <thead>
        <th>牌号</th>
        <th>规格</th>
        <th>库存数量</th>
        <th>材料批号</th>
        <th>材质编号</th>
        <th>厂家</th>
    </thead>
    </tbody>
        {% for item in items_set %}
        <tr>
            <td>P2016040{{forloop.counter}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.count}}</td>
            <td>L2016121{{forloop.counter}}</td>
            <td>{{item.material_id}}</td>
            <td>厂家{{forloop.counter}}</td>
            {% comment %}
            <td>{{item.brand|default_if_none:""}}</td>
            <td>{{item.specification}}</td>
            <td>{{item.count}}</td>
            <td>{{item.charge_number|default_if_none:""}}</td>
            <td>{{item.material_id}}</td>
            <td>{{item.factory|default_if_none:""}}</td>
            {% endcomment%}
        </tr>
        {% endfor %}
    </tbody>
</table>
