<table class="table table-bordered" style="width:70%;">
    <thead>
        <th>日期</th>
        <th>编号</th>
        <th>工作令</th>
        <th>材料类型</th>
        <th>退料人</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for ref_obj in refund_cards %}
        <tr>
            <td>{{ref_obj.create_time|date:"Y年m月d日"}}</td>
            <td>{{ref_obj.refund_code}}</td>
            <td>{{ref_obj.work_order}}</td>
            <td>{{ref_obj.get_steel_type_display}}</td>
            <td>{{ref_obj.refunder.userinfo}}</td>
            <td>
                {% ifequal ref_obj.status default_status %}
                    <a class="btn btn-warning" href="/storage/steelrefunddetail/{{ref_obj.id}}">待处理</a>
                {% else %}
                    <a class="btn btn-primary" href="/storage/steelrefunddetail/{{ref_obj.id}}">查看</a>
                {% endifequal %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
