<table id="items_table" class="table table-bordered">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>牌号</th>
            <th>规格</th>
            <th>公斤数</th>
            <th>单件重量</th>
            <th>件数</th>
            <th>材料批号</th>
            <th>材质编号</th>
            <th>出厂日期</th>
            <th>厂家</th>
            <th>备注</th>
            <th>单价</th>
            <th>总价</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {%for item in entry_set %}
        <tr id="{{item.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{item.material}}</td>
            <td></td>
            <td>{{item.material.specification}}</td>
            <td>{{item.total_weight}}</td>
            <td>{{item.single_weight}}</td>
            <td>{{item.count}}</td>
            <td></td>
            <td></td>
            <td>{{item.production_date}}</td>
            <td>{{item.factory}}</td>
            <td>{{item.remark}}</td>
            <td>{{item.price}}</td>
            <td></td>
            <td>
                <a type="button" role="button" data-toggle="modal" class="btn btn-primary" href="#myModal" onclick="change_item({{item.id}})">修改</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
