<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/bootstrap.min.js"></script>

<!--TinyMCE Editor-->
<script type='text/javascript' src="{{STATIC_URL}}tiny_mce/tiny_mce.js"></script>

<!-- JQuery Masonry-->
<script type='text/javascript' src="{{ STATIC_URL }}masonry/jquery.masonry.min.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}js/base.js"></script>
