<!--Base JS-->
<script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery-1.9.1.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/excanvas.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/jquery.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/jquery.ui.custom.js"></script>
<!-- <script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/bootstrap.min.js"></script> -->
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/jquery.flot.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/jquery.flot.resize.min.js"></script>
<!-- <script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/jquery.peity.min.js"></script> -->
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/fullcalendar.min.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/unicorn.js"></script>
<!-- <script type='text/javascript' src="{{STATIC_URL}}js/ERP_js/unicorn.dashboard.js"></script> -->
<script type="text/javascript" src="{{STATIC_URL}}js/ERP_js/unicorn.calendar.js"></script>
<!-- ajax_csrf-->
<script type='text/javascript' src="{{STATIC_URL}}js/ajax_csrf.js"></script>
<!-- <script type='text/javascript' src="{{STATIC_URL}}bootstrap/assets/js/jquery.min.js"></script> -->
<script src="{{STATIC_URL}}select2/js/select2.min.js"></script>
{% load static from staticfiles %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}

<!--
js/ERP_js/bootstrap.min.js" 主页日历控件，与首页模钛框冲突 
-->
