
 <!-- Le styles -->
<link rel="stylesheet" href="{{STATIC_URL}}style/bootstrap.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}style/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="{{STATIC_URL}}style/fullcalendar.css" />	
<link rel="stylesheet" href="{{STATIC_URL}}style/unicorn.main.css" />
<link rel="stylesheet" href="{{STATIC_URL}}style/base.css" />
<link rel="stylesheet" href="{{STATIC_URL}}style/unicorn.grey.css" class="skin-color" />
<link href="{{STATIC_URL}}/select2/css/select2.min.css" rel="stylesheet"/>

