<div class="widget-content nopadding" style="max-height:800px;overflow-y:auto">    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>产品名称</th>
                <th>下发文件</th>
                <th>上传招标文件</th>
                <th>查看上传招标文件</th>
                <th>文件审核状态</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productions %} 
            <tr iid="{{item.id}}" class="productions_row">
                <td>{{item.name}}</td>
                <td>
                    {% if item.manufacture_file_down%}
                    <span><a href="{{item.manufacture_file_down.file_obj.url}}">{{item.manufacture_file_down.name}}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.manufacture_file_up and item.manufacture_file_up.is_approval == 0%}
                    <span>已上传</span>
                    {% else %}
                    <span class="btn btn-primary btn-upload" group="manufacture" href="#product_upload" data-toggle="modal">上传</span></td>
                    {% endif %}
                <td>
                    {% if item.manufacture_file_up%}
                    <span><a href="{{item.manufacture_file_up.file_obj.url}}">{{item.manufacture_file_up.name}}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.manufacture_file_up %}
                    <span>{{item.manufacture_file_up.getStatus}}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
