<div class="widget-content nopadding" style="max-height:800px;overflow-y:auto">    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2">产品名称</th>
                <th colspan="6">下发文件</th>
            </tr>
            <tr>
                <th colspan="2">生产</th>
                <th colspan="2">工艺</th>
                <th colspan="2">采购</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productions %} 
            <tr iid="{{item.id}}" class="productions_row">
                <td>{{item.name}}</td>
                <td>
                    {% if item.manufacture_file_down%}
                    <span><a href="{{item.manufacture_file_down.file_obj.url}}">{{item.manufacture_file_down.name}}</a></span>
                    {% endif %}
                </td>
                <td><span class="btn btn-primary btn-upload" group="manufacture" href="#product_upload" data-toggle="modal">上传</span></td>
                <td>
                    {% if item.techdata_file_down%}
                    <span><a href="{{item.techdata_file_down.file_obj.url}}">{{item.techdata_file_down.name}}</a></span>
                    {% endif %}
                </td>
                <td><span class="btn btn-primary btn-upload" group="techdata" href="#product_upload" data-toggle="modal">上传</span></td>
                <td>
                    {% if item.manufacture_file_down%}
                    <span><a href="{{item.purchasing_file_down.file_obj.url}}">{{item.purchasing_file_down.name}}</a></span>
                    {% endif %}
                </td>
                <td><span class="btn btn-primary btn-upload" group="purchasing" href="#product_upload" data-toggle="modal">上传</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
