<div class="widget-content nopadding" style="max-height:800px;overflow-y:auto">    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2">产品名称</th>
                <th colspan="3">下发文件</th>
            </tr>
            <tr>
                <th>生产</th>
                <th>工艺</th>
                <th>采购</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productions %} 
            <tr iid="" class="productions_row">
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
