<div class="widget-content nopadding" style="max-height:800px;overflow-y:auto">    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="height:50px;line-height:50px">产品名称</th>
                <th colspan="6">招标文件</th>
                <!--th rowspan="2" style="height:50px;line-height:50px">产品审核</th-->
                <th rowspan="2" style="height:50px;line-height:50px">生成工作令</th>
            </tr>
            <tr>
                <th colspan="2">生产</th>
                <th colspan="2">工艺</th>
                <th colspan="2">采购</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productions %} 
            <tr iid="{{item.id}}" class="productions_row">
                <td>{{item.name}}</td>
                <td>
                    {% if item.manufacture_file_up%}
                    <span><a href="{{item.manufacture_file_up.file_obj.url}}">{{item.manufacture_file_up.name}}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.manufacture_file_up %}
                    {% if item.manufacture_file_up.is_approval == -1 %}
                        <span class="btn btn-success bidfile_audit" group="manufacture">审核</span>
                    {% elif item.manufacture_file_up.is_approval == 0 %}
                        <span>通过</span>
                    {% else %}
                        <span>未通过</span>
                    {% endif %}
                    {% else %}<span>未上传文件</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.techdata_file_up%}
                    <span><a href="{{item.techdata_file_up.file_obj.url}}">{{item.techdata_file_up.name}}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.techdata_file_up %}
                    {% if item.techdata_file_up.is_approval == -1 %}
                        <span class="btn btn-success bidfile_audit" group="techdata">审核</span>
                    {% elif item.techdata_file_up.is_approval == 0 %}
                        <span>通过</span>
                    {% else %}
                        <span>未通过</span>
                    {% endif %}
                    {% else %}<span>未上传文件</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.manufacture_file_up%}
                    <span><a href="{{item.purchasing_file_up.file_obj.url}}">{{item.purchasing_file_up.name}}</a></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.purchasing_file_up %}
                    {% if item.purchasing_file_up.is_approval == -1 %}
                        <span class="btn btn-success bidfile_audit" group="purchasing">审核</span>
                    {% elif item.purchasing_file_up.is_approval == 0 %}
                        <span>通过</span>
                    {% else %}
                        <span>未通过</span>
                    {% endif %}
                    {% else %}<span>未上传文件</span>
                    {% endif %}
                </td>
                <!--td>
                    <span class="btn btn-primary product_audit">审核通过</span>
                </td-->
                <td>
                    <span class="btn btn-success workorder_generate">生成工作令</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
