{% extends "storage/base/weldbase.html" %}
{% block title %}
<h1>焊材温湿度记录</h1>
{% endblock%}

{% block sub_sec %}
<a href="/storage/weldhumiture">焊材温湿度记录</a>
<a href="#" class="current">温湿度记录卡</a>
{% endblock %}

{% block inner_content %}
<div class="control-group" style="margin-top:20px">
    <button type="button" class="btn btn-primary">录入时间：{{humRecordDate}}</button>
</div>

<div class="widget-box">
    <div class="widget-content nopadding" id="humiture_div" >
    {% include "storage/widgets/humiture_form.html" %}
    </div>
</div>
<script>
    $("#btnInsert").attr("style","display:none")
</script>
{% endblock %}
