{% extends "home/widgets/base_new_content.html" %}
{% block title %}
文件下载
{% endblock %}

{% block title-sub %}
file download
{% endblock %}

{% block news-list-items %}
{% for doc in homepage_docs_list %}
<div class="usoft-listview-basic">
	<ul class="newslist-dot">
		<li>
			<span class="usoft-listview-item-date">{{doc.news.news_date|date:"y-m-d"}}</span>
			<span><a href="/news/newslist/{{ doc.id }}/download_news_doc" title="{{news.title}}">{{ doc.document_name|truncatechars:30 }}</a></span>
		</li>
	</ul>
</div>
{% endfor %}
{% endblock %}

{% block more %}
<strong><a href="/news/newslist/news_cate={{ news_category_document }}">更多More<sub>》</sub></a></strong>
{% endblock %}
