
<div class="menu-list">
    <a href="/student/homepage" class="menu-button-middle"><span class="glyphicon glyphicon-user">&nbsp;个人信息</span></a>
    <a href="/student/schedule" class="menu-button-middle"><span class="glyphicon 
glyphicon-calendar">&nbsp;查看课表</span></a>
    <a href="/student/selectcourse" class="menu-button-middle"><span class="glyphicon 
glyphicon-list">&nbsp;理论选课</span></a>
    <a href="/student/score" class="menu-button-middle"><span class="glyphicon 
glyphicon-eye-open">&nbsp;查看成绩</span></a>
    <a href="/student/classSelect" class="menu-button-middle"><span class="glyphicon 
glyphicon-th-large">&nbsp;实践选课</span></a>
    <a href="/student/deletecourse" class="menu-button-middle"><span class="glyphicon 
glyphicon-trash">&nbsp;删除课程</span></a>
    <a href="/student/homework_submit" class="menu-button-middle"><span class="glyphicon 
glyphicon-open">&nbsp;作业提交</span></a>
    <a href="/student/courseplan" class="menu-button-middle"><span class="glyphicon 
glyphicon-list-alt">&nbsp;培养计划</span></a>
    <a href="/student/comment" class="menu-button-middle"><span class="glyphicon 
glyphicon-edit">&nbsp;教学评估</span></a>
    <a href="/student/classchange" class="menu-button-middle"><span class="glyphicon 
glyphicon-refresh">&nbsp;转班申请</span></a>
    <a href="/student/modify_password" class="menu-button-middle"><span class="glyphicon 
glyphicon-lock">&nbsp;修改密码</span></a>
    <a href="/logout" class="menu-button-middle"><span class="glyphicon 
glyphicon-off">&nbsp;安全退出</span></a>

    <div class="menu-blank"></div>
</div>
