<div class="span4">
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</label>
		{{materielexecute_form.quota}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">零&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</label>
		{{materielexecute_form.part}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
	    <label class="span1 label_margin">余&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料</label>
		{{materielexecute_form.oddments}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
		{{materielexecute_form.remark}}
	</div>
</div>
