
<div class="span4">
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">序&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
		{{order_form.index}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">名称及规格</label>
		{{order_form.name}}
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">标准号/图号</label>
		{{order_form.schematic_index}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
	    <label class="span1 label_margin">材&nbsp;&nbsp;料&nbsp;&nbsp;牌&nbsp;&nbsp;号</label>
		<input type="text" id="material" class="form-control" value="{{material}}"> 
	</div>
	<div class="form-inline div_margin">
	    <label class="span1 label_margin">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量</label>
		<input type="text" id="count" class="form-control" value="{{count}}"> 
	</div>
</div>

