.form-horizontal .controls {
    margin-left:110px!important;
}
div#applyform_div .control-label {
    width:100px!important;
    text-align:left!important;
}
form .e3 {
    width:33.3%;
}

div#applyform_div select{
    width:80%;
}
.form-horizontal .control-group {
    border:0px!important;
}

table#items_table{
    width:80%;
}

form#applycardform table{
    width:100%;
}

div#remark label{
    width:100px!important;
}

