.storage-icon{
    height:80px;
    width:80px;
}

.search-in{
    width:150px;
}

div.e3{
    width:50%;
    float:left;
    word-wrap:break-word;
    margin-bottom:20px;
}
div.icon-text{
    float:left;
}

.fix_th{
    line-height:3.5!important;
}

div#storage-menu{
    font-size:30px;
}
div#storage-menu a{
    vertical-align:text-bottom;
}
.date_picker{
    width:120px;
}

.card_info3{
    width:33%;
    float:left;   
}

.card_info4{
    width:25%;
    float:left;   
}
.card_info2{
    width:50%;
    float:left;   
}



