.fixed{
    margin-left:20px;
}
.form-group{
    display:inline;
}
.form-control{
    width:120px;
}
.form-inline{
    margin-bottom:20px;
}
.td .tr .th{
    text-align:center;
    vertical-align:middle;
}
