.storage-icon{
    height:80px;
    width:80px;
}

div#storage-weld-menu{
    font-size:30px;
}
div#storage-weld-menu a{
    vertical-align:text-bottom;
}

.bl{
    width:140px;
}

div.e3{
    width:50%;
    float:left;
    word-wrap:break-word;
    margin-bottom:20px;
}
div.icon-text{
    float:left;
}

.fix_th{
    line-height:3.5!important;
}

.search-in{
    width:150px;
}

.bakeform-btn{
    width:100px;
    margin-right:20px;
}

form#weldbake_form .bl{
    width:120px;
}
