{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
	<h1>材料执行表</h1>
{% endblock %}

{% block sub_ref %}
    <a href="/purchasing/materielExecute" class="tip-bottom" data-original-title="材料执行清单">材料执行清单</a>
	<a href="#" class="current">材料执行表</a>
{% endblock %}
{% block inner_content%}
	<link rel="stylesheet" href="{{ STATIC_URL }}style/materiel_execute.css" type="text/css" media="screen" />
	<div style="width:25%">
		{% block materiel_execute_detail_form%}
		{% endblock %}
	</div>

	{% block add_button %}{% endblock %}
	{% block add_modal %}{% endblock %}

	<div id="materielexecute_detail_table">
		{% if choice == MAIN_MATERIEL %}
			{% include "purchasing/materielexecute/table/main_materielexecute_detail_table.html" %}
		{% else %}
			{% include "purchasing/materielexecute/table/support_materielexecute_detail_table.html" %}
		{% endif %}
	</div>
	<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/materielexecute_detail.js"></script>
	<script type='text/javascript' src="{{STATIC_URL}}js/bootstrap_filestyle.js"></script>
{% endblock%}
