.container-full {
	min-height: 500px;
	padding-top: 10px;
}

div#arrivalIns{
    width:60%;
}

label.hz-align{
    display: inline-block;
    padding:0 10px;
}

div.purcher{
    margin-left:20px!important;
}

.entry_input{
    width:150px!important;
}

.btm_bd{
    border: 1px solid #ddd !important;
    margin-bottom:20px !important;
}

div#subtable{
    margin-top:20px;
}

center.WordSection p{
	margin-bottom: 0px!important;
}
