/*.form-horizontal .control-label {
    width : 80px!important;
}

.form-horizontal .controls {
    margin-left : 100px!important;
}*/

#circulationroute_div {
    text-align: center;
}

.label_margin{
   /* margin-left: 20pxi*/
    width: 60px;
    padding-top: 3px;
    text-align: center;
}
.div_margin{
    margin-bottom: 10px;
    margin-left:15px;
    display: inline-block;
}
