#search_div{
	width: 70%;
	float:left;
}
#new_purchasing_order{
	width:30%;
	float:left;
	text-align: center;
}
#new_purchase_btn{
	width:210px;
}
.add{
	margin:0 0 12px 0;
}
#inventory_detail_table{
	clear: both;
}
