#search_div{
	width: 100%;
	float:left;
}
#new_purchasing_order{
	width:20%;
	float:right;
}
#new_purchase_btn{
	width:210px;
}
.add{
	margin:0 0 12px 0;
}
#item_table{
	clear: both;
}
.form-div{
	width:80%;
	float:left;
}
.delete-div{
	width:20%;
	float:left;
}
.save{
	width:205px;
}
.save-div{
	width:55%;
	float:left;
}
.finish-div{
	width: 45%;
	float:left;
}
.date{
	width:150px;
}
.date-input{
	margin-left:20px!important;
}
.control-label{
	width:70px!important;
}
.label_margin{
	margin-right: 20px;
	width:80px;
	padding-top:3px;
}
.div_margin{
	margin-bottom: 10px;
}
.div_large_margin{
	margin-bottom: 20px;
}
.label_large_margin{
	margin-right: 20px;
	width:100px;
	padding-top:3px;
}
