{% extends "techdata/base/none_nav_base.html"%}

{% block title %}
<h1>热处理工艺卡编辑</h1>
{% endblock %}

{% block sub_ref %}
<a href="/techdata/techHotDeel" class="tip-bottom" data-original-title="热处理列表">热处理列表</a>
<a href="/techdata/heatTreatmentTechCardEdit?card_id={{card_id}}" class="tip-bottom" data-original-title="热处理工艺卡编辑">热处理工艺卡编辑</a>
<a href="#" class="current">热处理测温点布置示意图</a>
{% endblock %}

{% block inner_content%}

<div class="widget-content" card_id="{{card_id}}">

</div>

<script type='text/javascript' src="{{STATIC_URL}}js/techdata/auto_save.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}js/techdata/heat_point.js"></script>
<script type='text/javascript' src="{{ STATIC_URL  }}jquery/jquery.form.js"></script>
{% endblock%}
