{% extends "techdata/base/none_nav_base.html"%}

{% block title %}
<h1>技术准备计划</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">技术准备计划</a>
{% endblock %}

{% block inner_content%}
<form class="form-search ">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <!-- dropdown menu links -->
        </ul>
    </div>
</form>
<div class="widget-content">
    {% include "techdata/widgets/pending_order_header.html" %}

    {% include "techdata/widgets/tech_preparation_plan_table.html" %}
</div>

{% endblock%}
