{% extends "techdata/base/none_nav_base.html"%}

{% block title %}
<h1>工艺库编辑</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">工艺库编辑</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/designBOM_edit.css" type="text/css" media="screen" />
<form class="form-search ">
   工作令: 
   {{ form.work_order }}
    <span class="btn" id="order_search">检索</span> 
</form>

<div class="widget-box" id="widget-box">

</div>

<div id="card_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.65" >
  <div class="modal-header">
    <h2 id="groupLabel">材料信息卡</h2>
  </div>

  <div class="modal-body" style="clear:both;">
      <form class="form" id="base-info_form">
		<div id="base-info-area" class="well">

		</div>
      </form>
      <form class="form" id="processing_form">
		<div id="processing-area" class="well">
		</div>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn" id="id_goto_prev" style="float: left">上一条</button>
    <button class="btn" id="id_goto_next" style="float: left">下一条</button>
	<button class="btn btn-primary" id="btn_save">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script type='text/javascript' src="{{STATIC_URL}}js/techdata/processBOM.js"></script>
{% endblock%}

