{% extends "techdata/base/none_nav_base.html"%}

{% block title %}
<h1>流转卡编辑</h1>
{% endblock %}

{% block sub_ref %}
<a href="/techdata/processBOM" class="tip-bottom" data-original-title="工艺库">工艺库</a>
{%if label %}<a href="/techdata/transferCardList?id_work_order={{order.id}}" class="tip-bottom" data-original-title="流转卡列表">流转卡列表</a> {% endif %}
<a href="#" class="current">流转卡编辑</a>
{% endblock %}

{% block inner_content%}
{% if form %}
<form class="form-search">
   流转卡种类：
   {{ form.card_type }}
    <span class="btn" id="card_open">创建</span> 
</form>
<br/>
{% endif %}

<div id="div_card" iid="{{iid}}">
</div>

<div id="info_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.55" >
  <div class="modal-header">
    <h2 id="groupLabel">基础信息</h2>
  </div>

  <div class="modal-body" style="clear:both;">
	<form class="form" id="info_card" class="well">
		
	</form>
  </div>
  <div class="modal-footer">
	<button class="btn btn-primary" id="btn_save_info">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<div id="process_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.7" >
  <div class="modal-header">
    <h2 id="groupLabel">工序列表</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div id="process_table">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left" id="btn_push">添加新工序</button>
    <button class="btn btn-primary pull-left" id="btn_import_template">导入工序模板</button>
  	<button class="btn btn-primary" id="btn_save_process">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<div id="pic_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.4" >
  <div class="modal-header">
    <h2 id="groupLabel">简图上传</h2>
  </div>

  <div class="modal-body" style="clear:both;">
        <form method="POST" action="" class="form-inline" enctype="multipart/form-data" id="pic_form">
            {% csrf_token%}
            <input type="text" style="display:none;" name="iid" id="iid_input">
            <input type='file' class='filestyle' name='pic_file' data-ButtonName='btn btn-primary'  data-buttonBefore='true' data-buttonText='浏览..' id="filestyle_input">
        </form>
  </div>
  <div class="modal-footer">
	<button class="btn btn-primary" id="btn_save_pic">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<script type='text/javascript' src="{{STATIC_URL}}js/techdata/transfer_card_edit.js"></script>
<script type='text/javascript' src="{{ STATIC_URL  }}jquery/jquery.form.js"></script>
{% endblock%}

