{% extends "techdata/base/none_nav_base.html"%}

{% block title %}
<h1>焊材明细表</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">焊材明细表</a>
{% endblock %}

{% block inner_content%}
<form class="form-search ">
   工作令: 
   {{ form.work_order }}
    <span class="btn" id="order_search">检索</span> 
    <span class="btn btn-success" id="order_search">快捷生成</span> 
</form>


<div class="widget-box">
	<div class="widget-content nopadding">
        <div class="widget-box2">
        </div>
	</div>
</div>
<div id="card_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.65">
  <div class="modal-header">
    <h2 id="groupLabel">焊材信息卡</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <form id="weld_quota_card">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" id="id_goto_prev" style="float: left">上一条</button>
    <button class="btn" id="id_goto_next" style="float: left">下一条</button>
    <button class="btn btn-primary" id="id_calculate">定额计算</button>
    <button class="btn btn-primary" id="id_save">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<script type='text/javascript' src="{{STATIC_URL}}js/techdata/weld_quotaC.js"></script>
{% endblock%}
