{% extends "techdata/base/none_nav_base.html" %}

{% block title%}
<h1>焊接作业指导书</h1>
{% endblock %}

{% block sub_ref %}
<a href="/techdata/weldList" class="tip-bottom" data-original-title="焊缝明细">焊缝明细</a>
<a href="/techdata/weldingProcessSpecification?id_work_order={{wwi.detail.specification.order.id}}" class="tip-bottom" data-original-title="焊接工艺规程">焊接工艺规程</a>
<a href="#" class="current">焊接作业指导书</a>
{% endblock %}

{% block inner_content %}
<div id="div_card" wwi_id="{{wwi.id}}" style="text-align:center">

</div>
<div id="process_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.7" >
  <div class="modal-header">
    <h2 id="groupLabel">工序列表</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div id="process_table">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"   id="btn_save_process">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<div id="process_modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.7" >
  <div class="modal-header">
    <h2 id="groupLabel">工序列表</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div id="process_table2">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"   id="btn_save_process2">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<div id="pic_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.4" >
  <div class="modal-header">
    <h2 id="groupLabel">简图上传</h2>
  </div>

  <div class="modal-body" style="clear:both;">
        <form method="POST" action="" class="form-inline" enctype="multipart/form-data" id="pic_form">
            {% csrf_token%}
            <input type="text" style="display:none;" name="wwi_id" id="wwi_id_input">
            <input type='file' class='filestyle' name='pic_file' data-ButtonName='btn btn-primary'  data-buttonBefore='true' data-buttonText='浏览..' id="filestyle_input">
        </form>
  </div>
  <div class="modal-footer">
	<button class="btn btn-primary" id="btn_save_pic">保存</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
<script type='text/javascript' src="{{ STATIC_URL}}js/techdata/weld_instruction_book.js"></script>
<script type='text/javascript' src="{{ STATIC_URL  }}jquery/jquery.form.js"></script>
{% endblock %}

