
{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>太重滨海公司拟投标单位资格审核表</h1>
{% endblock %}

{% block sub_ref %}
<a  class="current">太重滨海公司拟投标单位资格审核表</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datetimepicker.css" >
<div style="float:right">
    {% if supplier_check.status.status == status_dic.FILL%}
    <a href="#" data-toggle="modal" data-target="#supplier_check_modal">填写</a>
    {% endif%}
</div>
<div id="supplier_check_div" suppliercheckid="{{supplier_check.id}}">
{% include "purchasing/bid_invite/supplier_check.html"%}
</div>
<div class="modal hide fade"  id="supplier_check_modal" modal-size-width="0.8">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h2>太重滨海公司拟投标单位资格审核表</h2>
    </div>
    <div class="modal-body">
        {%include "purchasing/bid_invite/supplier_check_form.html"%}
    </div>
    <div class="modal-footer">
    </div>
</div>
<div class="modal hide fade"  id="supplier_check_comment" >
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h2>资格审核表意见</h2>
    </div>
    <div class="modal-body">
        <textarea id ="comment_area" cols=40 rows=5 style="width:80%;"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success " data-dismiss="modal" id="suppliercheck_comment_confirm">确认</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/purchasing/supplier_check.js"></script>
{%endblock%}
