 
{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>招(议)标申请表</h1>
{% endblock %}

{% block sub_ref %}
<a  class="current">招(议)标申请表</a>
{% endblock %}
{% block inner_content%}
<div style="float:right">
    {% if bid_apply.status.status == status_dic.FILL%}
    <a href="#" data-toggle="modal" data-target="#bid_apply_table">填写</a>
    {% endif%}
    <a href="#" data-toggle="modal" data-target="#order_list">填写</a>
</div>
<div id="bid_apply_div" bidapplyid="{{bid_apply.id}}">
{% include "purchasing/bid_invite/bid_apply_form.html"%}
</div>
<div class="modal hide fade in"  id="bid_apply_table" modal-size-width="0.8">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h2>招(议)标申请表</h2>
    </div>
    <div class="modal-body">
        {%include "purchasing/widgets/bid_apply_table.html"%}
    </div>
    <div class="modal-footer">
    </div>
</div>
<div class="modal hide fade in"  id="pply_table" modal-size-width="0.8">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h2>招(议)标申请表</h2>
    </div>
    <div class="modal-body">
        <textarea id ="comment_area"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success " data-dismiss="modal" id="apply_comment_confirm">确认</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<div id="order_list" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/purchasing/bid_apply_form.js"></script>
{%endblock%}
