<div class="widget-box">

    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>制表人</th>
                    <th>生成日期</th>
                    <th>操作</th>
                    <td>技术反馈</td>
                </tr>
            </thead>
            <tbody>
                {% for materielexecute in  materielexecute_set %}
                <tr id="{{materielexecute.id}}">
                    <td>{{materielexecute.document_number}}</td>
                    <td>{{materielexecute.document_lister}}</td>
                    <td>{{materielexecute.date_date}}</td> 
                    <td>
                        {% if materielexecute.is_save == True%}
                        <a class='btn btn-primary' id="edit_supplier" href="#supplier_info" >查看</a>
                        {% else %}
                        <a class='btn btn-warning' id="edit_supplier" href="#supplier_info" >编辑</a>
                        {% endif%}
                    </td>
                    <td>{{materielexecute.tech_feedback|default:""}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
