{% extends "purchasing/materielexecute/base/materielexecute_detail_base.html" %}
{% block materiel_execute_detail_form %}
	{% include "purchasing/materielexecute/widget/materielexecute_add_form.html" %}
{% endblock %}

{% block form_button %}
    <a style="margin-left:20px" class="btn btn-success" role="button" id="add-btn">保存</a>
    <hr>
	<a href="#add-detail-modal" style="margin-left:20px" class="btn btn-primary" role="button" id="add-detail-btn" data-toggle="modal">填写材料执行详细表</a>
{% endblock %}

{% block add_modal %}
	<div id="add-detail-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    	<h3 id="myModalLabel">
	    		{{current_materiel_choice}}
	    	</h3>
	  	</div>
	  	<div class="modal-body" id="modal-body">
	  		<!-- <div id="errorsFieldDiv">
	  			{% include "purchasing/materielexecute/widget/errorsField.html" %}
	  		</div> -->

	  		{% csrf_token %}
	  		<form class="form-inline well" id="detail_form" method="post">
		    	{% if choice == MAIN_MATERIEL %}
					{% include "purchasing/materielexecute/widget/add_main_detail_form.html" %}
				{% else %}
					{% include "purchasing/materielexecute/widget/add_support_detail_form.html" %}
				{% endif %}
			</form>
	  	</div>
	  	<div class="modal-footer">
	    	<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
	    	<button class="btn btn-primary" id="submit-btn">保存</button>
	  	</div>
	</div>
{% endblock %}

{% block commit_button %}
	<div class="subbtn">
		<a class="btn btn-success btn-block" role="button" id="commit-btn">提交</a>
	</div>
{% endblock %}
