<form class="form-search form-horizontal">
    <div class="control-group">
        <label class="control-label" for="document_number_input">单据编号</label>
        <div class="controls">
            <input type="text" id="document_number_input">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="texture_input">材料选择</label>
        <div class="controls">
            <input type="text" id="texture_input">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-primary">增加</a>
        </div>
    </div>
</form>
