
<div class="span4">
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{form.weight.label}}</label>
		{{form.weight}}
	</div>
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{form.unit.label}}</label>
		{{form.unit}}
	</div>
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{form.batch_number.label}}</label>
		{{form.batch_number}}
	</div>
</div>
<div class="span4">
    <div class="form-inline div_margin">
        <label class="span1 label_margin">{{form.length.label}}</label>
		{{form.length}}
	</div>
	<div class="form-inline div_margin">
        <label class="span1 label_margin">{{form.material_code.label}}</label>
		{{form.material_code}}
	</div>
</div>

