<!-- <form class="form-search ">
    工作令：
    <select class="input-medium search-query" id="search_pending_order">
        <option style="width:200px">1</option>
        <option style="width:200px">2</option>
        <option style="width:200px">3</option>
        <option style="width:200px">4</option>
        <option style="width:200px">5</option>
    </select>
    <span class="btn" id="order_search">检索</span> 
</form> -->
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>工作令：03015001B</h5>
        <h5>产品名称：第一中温变换炉</h5>
        <h5>单位：公斤</h5>
        <h5>编制人：</h5>
        <h5>审核人：</h5>
    </div>
    <div class="widget-content nopadding">
        <div class="dataTables_length">
            <span class="btn btn-small btn-primary">完成</span>
            <span class="btn btn-small btn-primary">审核</span>
        </div>
        <table class="table table-bordered table-striped" >

            <thead>
                <th>票号</th>
                <th>部件图号</th>
                <th>零件图号</th>
                <th>材料分类</th>
                <th>材质</th>
                <th>规格</th>
                <th>数量</th>
                <th>净重</th>
                <th>毛重</th>
                <th>定额</th>
                <th>利用率</th>
                <th>受压标记</th>
            </thead>
            <tbody>
                {% for item in list%}
                <tr class="tr_materiel" iid="{{item.id}}" data-toggle="modal" data-target="#card_modal">
                    <td>{{item.index}}</td>
                    <td>{{item.parent_schematic_index}}</td>
                    <td>{{item.schematic_index}}</td>
                    <td>{{item.material.categories}}</td>
                    <td>{{item.material}}</td>
                    <td>{{item.specification}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.net_weight}}</td>
                    <td>{{item.total_weight}}</td>
                    <td>{{item.total_weight}}</td>
                    <td>{{item.remark}}</td>
                    <td>△</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
