<div class="row-fluid" style="margin-top: 0px">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">工作票号</span>
			{{form.index}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">图&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号</span>
			{{form.schematic_index}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">名&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp称</span>
			{{form.name}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">受压标识</span>
			<input type="text" class="input-small"></input>
		</div>
	</div>
</div>
<div class="row-fluid">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">单部件数</span>
			<input type="text" class="input-small"></input>
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">材&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp料</span>
			{{form.material}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">总&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数</span>
			{{form.count}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注</span>
			{{form.remark}}
		</div>
	</div>
</div>

<!-- {% include  "techdata/widgets/designBOM_circulationroute_form.html" %}
 -->
