<div class="row-fluid" style="margin-top: 0px">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">工作票号</span>
			{{form.index}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">图号</span>
			{{form.schematic_index}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">名称</span>
			{{form.name}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">下料规格</span>
			<input type="text" class="input-small"></input>
		</div>
	</div>
</div>
<div class="row-fluid">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">序号</span>
			<input type="text" class="input-medium"></input>
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">材料：</span>
			{{form.material}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">数量</span>
			{{form.count}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">备注</span>
			{{form.remark}}
		</div>
	</div>
</div>

<!-- {% include  "techdata/widgets/designBOM_circulationroute_form.html" %}
 -->
