<div class="row-fluid" style="margin-top: 0px">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">工作票号</span>
			<input type="text" class="input-small" value="{{materiel.index}}" readonly='readonly'></input>
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">图&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号</span>
			<input type="text" style="width:95px" value="{{materiel.schematic_index}}" readonly='readonly'></input>{{materiel.schematic_index}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">名&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp称</span>
			<input type="text" class="input-small" value="{{materiel.name}}" readonly='readonly'></input>{{materiel.name}}
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">受压标识</span>
			<input type="text" class="input-small" value="{{materiel.remark}}" readonly='readonly'></input>
		</div>
	</div>
</div>
<div class="row-fluid">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on" >材&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp质</span>
			<input type="text" class="input-small" value="{{materiel.material}}" readonly='readonly'></input>
			
		</div>
	</div>
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on">总&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数</span>
			<input type="text" class="input-small" value="{{materiel.count}}" readonly='readonly'></input>
			
		</div>
	</div>
	<div class="span3">
		<div class="input-prepend">
			<span class="add-on" >净&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp重</span>
			<input type="text" class="input-small" value="{{materiel.net_weight}}" readonly='readonly'></input>
			
		</div>
	</div>
	<div class="span3">
		<div class="input-prepend">
			<span class="add-on" >毛&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp重</span>
			<input type="text" class="input-small" value="{{materiel.total_weight}}" readonly='readonly'></input>
			
		</div>
	</div>

</div>
<div class="row-fluid">
    <div class="span3">
		<div class="input-prepend">
			<span class="add-on" >规&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp规</span>
			<input type="text" class="input-small" value="{{materiel.specification}}" readonly='readonly'></input>
			
		</div>
	</div>
</div>
