<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>工作令：{{work_order.order_index}}</h5>
    <h5>产品名称：{{work_order.product_name}}</h5>
    <h5>单位：公斤</h5>
</div>
<div class="widget-content nopadding">
    <div class="dataTables_length">
            编制人：
        <span id="span_write">
            {% if not work_order.cooperantmark.writer %}
            <span class="btn btn-mini btn-primary btn-mark" id="btn_write_confirm" args="{{MARK_WRITE}}">签字</span>
            {% else %}
            {{work_order.cooperantmark.writer.userinfo}}
            {% endif %} 
        </span>
            审核人：
        <span id="span_review">
            {% if not work_order.cooperantmark.reviewer %}
            <span class="btn btn-mini btn-primary btn-mark" id="btn_review_confirm" args="{{MARK_REVIEW}}">签字</span>
            {% else %}
            {{work_order.cooperantmark.reviewer.userinfo}}
            {% endif %}
        </span>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">序号</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">票号</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">图号</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">名称</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">数量</th>

				<th class="fix_th" rowspan="2" style="vertical-align: middle">材质</th>
				<th colspan="2">重量（Kg）</th>
				<th colspan="5">生产路线</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">协作内容</th>
				<th class="fix_th" rowspan="2" style="vertical-align: middle">操作</th>
			</tr>
			<tr>
				<th>单重</th>
				<th>总重</th>	
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
				<th>5</th>			
			</tr>
		</thead>
        <tbody>
		    {% for item in list %}
			<tr iid="{{item.id}}" class="tr_materiel">
				<td>{{forloop.counter}}</td>
				{% include "techdata/widgets/first_feeding_row.html" %}
			</tr>	
		    {% endfor %}
        </tbody>
    </table>
</div>

