<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>工作令：03015001B</h5>
    <h5>产品名称：第一中温变换炉</h5>
    <h5>单位：公斤</h5>
    <h5>编制人：</h5>
    <h5>审核人：</h5>
</div>
<div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
    <div class="dataTables_length">
        <span class="btn btn-small btn-primary">完成</span>
        <span class="btn btn-small btn-primary">审核</span>
        <span class="btn btn-small btn-primary">设计修改记录</span>
    </div>
    {% include "techdata/widgets/designBOM_table_list.html" %}
</div>
