<table class="table table-bordered table-striped" id="designBOM_table">
  <thead>
    <tr>
      <th>票号</th>
      <th>件号</th>
      <th>图号</th>
      <th>部件图号</th>
      <th>名称</th>
      <th>材质</th>
      <th>数量</th>
      <th>净重</th>
      <th>总重</th>
      <th>流转路线</th>
      <th>计划完成时间</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    {% for item in BOM %}
    <tr iid="{{item.id}}" class="designBOM_row">
      {% include "techdata/widgets/designBOM_row.html" %}
    </tr>
    {% endfor %}
  </tbody>
</table>
