<div class="row-fluid" style="margin-top: 0px">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">工作票号:</span>
            {{materiel_form.index}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">图号:</span>
            {{materiel_form.schematic_index}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">名称:</span>
            {{materiel_form.name}}
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-top:0px">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">所属图号:</span>
            {{materiel_form.parent_schematic_index}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="">材料:</span>
            {{materiel_form.material}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">数量:</span>
            {{materiel_form.count}}
        </div>
    </div>
</div>
<div class="row-fluid" style="margin-top:0px">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">净重:</span>
            {{materiel_form.net_weight}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">总重:</span>
            {{materiel_form.total_weight}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">备注:</span>
            {{materiel_form.remark}}
        </div>
    </div>
</div>
