<table class="table table-bordered table-striped" id="designBOM_table">
  <thead>
    <tr>
      <td>工作票号</td>
      <td>件号</td>
      <td>图号</td>
      <td>所属图号</td>
      <td>名称</td>
      <td>材料</td>
      <td>数量</td>
      <td>净重</td>
      <td>总重</td>
      <td>流转路线</td>
      <td>备注</td>
    </tr>
  </thead>
  <tbody>
    {% for item in BOM %}
    <tr iid="{{item.id}}" class="designBOM_row">
      {% include "techdata/widgets/designBOM_row.html" %}
    </tr>
    {% endfor %}
  </tbody>
</table>
