<div class="form-inline div_margin">
    <label class="span1 label_margin">编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
    {{materielexecute_form.recheck}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
    {{materielexecute_form.quota}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
    {{materielexecute_form.part}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</label>
    {{materielexecute_form.oddments}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">所&nbsp;&nbsp;属&nbsp;&nbsp;&nbsp;图&nbsp;&nbsp;&nbsp;号</label>
    {{materielexecute_form.remark}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;J</label>
    {{materielexecute_form.recheck}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">Z&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S</label>
    {{materielexecute_form.quota}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">H&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S</label>
    {{materielexecute_form.part}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">净&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重</label>
    {{materielexecute_form.oddments}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重</label>
    {{materielexecute_form.remark}}
</div>
