<div class="form-inline div_margin">
    <label class="span1 label_margin">工作票号</label>
    {{materiel_form.index}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">图号</label>
    {{materiel_form.schematic_index}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">名称</label>
    {{materiel_form.name}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">所属图号</label>
    {{materiel_form.parent_schematic_index}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">数量</label>
    {{materiel_form.count}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">净重</label>
    {{materiel_form.net_weight}}
</div>
<div class="form-inline div_margin">
    <label class="span1 label_margin">总重</label>
    {{materiel_form.total_weight}}
</div>
<div class="form-inline div_margin"> 
    <label class="span1 label_margin">备注</label>
    {{materiel_form.remark}}
</div>
