<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>工作令：{{work_order.order_index}}</h5>
    <h5>产品名称：{{work_order.product_name}}</h5>
    <h5>单位：公斤</h5>
    <h5>编制人：</h5>
    <h5>审核人：</h5>
</div>
<div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
    <div class="dataTables_length">
        <span id="span_write">
        编制人:
            {% if not work_order.designbommark.writer %}
            <span class="btn btn-small btn-primary" id="btn_write_confirm">签字</span>
            {% else %}
            {{work_order.designbommark.writer.userinfo}}
            {% endif %}
        </span>
        <span id="span_review">
        审核人:
            {% if not work_order.designbommark.reviewer %}
            <span class="btn btn-small btn-primary" id="btn_review_confirm">审核</span>
            {% else %}
            {{work_order.designbommark.reviewer.userinfo}}
            {% endif %}
        </span>
        <span class="btn btn-small btn-primary">设计修改记录</span>
    </div>
    {% include "techdata/widgets/designBOM_table_list.html" %}
</div>
