<div class="dataTables_length">
    <span class="btn btn-small btn-primary">完成</span>
    <span class="btn btn-small btn-primary">审核</span>
    <span class="btn btn-small btn-primary">设计修改记录</span>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>编号</td>
            <td>件号</td>
            <td>图号</td>
            <td>名称</td>
            <td>所属图号</td>
            <td>GJ</td>
            <td>ZS</td>
            <td>HS</td>
            <td>材料</td>
            <td>分类</td>
            <td>净重</td>
            <td>总重</td>
            <td>L1</td>
            <td>L2</td>
            <td>L3</td>
            <td>L4</td>
            <td>L5</td>
            <td>L6</td>
            <td>L7</td>
            <td>L8</td>
            <td>L9</td>
            <td>备注</td>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td></td>
        <td>R0037.00</td>
        <td>洗涤塔</td>
        <td>R0037</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>部件</td>
        <td>DL</td>
        <td>15502.280</td>
        <td>15502.280</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>S</td>
    </tr>
    <tr>
        <td>2</td>
        <td></td>
        <td>R0037.01.00</td>
        <td>壳体</td>
        <td>R0037</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>部件</td>
        <td>DL</td>
        <td>9000</td>
        <td>9000</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>DL</td>
    </tr>
    <tr>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0 </td>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0.000 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0 </td>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0.000 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 0 </td>
<td> 1 </td>
<td> R50.391-1.00 </td>
<td> 气化炉 </td>
<td>  </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 221892.478 </td>
<td> 221892.478 </td>
<td> H1 </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 4 </td>
<td> 3 </td>
<td> R50.391-1.01.00 </td>
<td> 气化炉下部 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 131911.026 </td>
<td> 131911.026 </td>
<td> H1 </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 5 </td>
<td> 4 </td>
<td> R50.391-1.02.00 </td>
<td> 压力容器铭牌 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 1.400 </td>
<td> 1.400 </td>
<td> H1 </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 6 </td>
<td> 5 </td>
<td> R50.391-1.01 </td>
<td> 筒节 DN4222 t=38 H=300 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> Q245R </td>
<td>  </td>
<td> 1198.000 </td>
<td> 1198.000 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △△
</td>
</tr>
<tr>
<td> 7 </td>
<td> 6 </td>
<td> R50.391-1.03.00 </td>
<td> 气化炉上部 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 85502.382 </td>
<td> 85502.382 </td>
<td> H1 </td>
<td> R </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 8 </td>
<td> 7 </td>
<td> R50.391-1.04.00 </td>
<td> 吊耳 SP-150 </td>
<td> R50.391-1.00 </td>
<td> 2 </td>
<td> 2 </td>
<td> 2 </td>
<td> 部件 </td>
<td> DL </td>
<td> 555.150 </td>
<td> 1110.300 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 12 </td>
<td> 11 </td>
<td> R50.391-1.05.00 </td>
<td> 三通管 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 111.520 </td>
<td> 111.520 </td>
<td> H1 </td>
<td> R </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 13 </td>
<td> 12 </td>
<td> R50.391-1.06.00 </td>
<td> 搅拌器冷却水进口 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 74.240 </td>
<td> 74.240 </td>
<td> H1 </td>
<td> R </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 14 </td>
<td> 13 </td>
<td> R50.391-1.07.00 </td>
<td> 炉衬 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 1156.680 </td>
<td> 1156.680 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 15 </td>
<td> 14 </td>
<td> R50.391-1.08.00 </td>
<td> 洗涤冷却器支座 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 112.980 </td>
<td> 112.980 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 16 </td>
<td> 15 </td>
<td> R50.391-1.02 </td>
<td> 接地板 </td>
<td> R50.391-1.00 </td>
<td> 2 </td>
<td> 2 </td>
<td> 2 </td>
<td> S30408 </td>
<td>  </td>
<td> 0.200 </td>
<td> 0.400 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 对称布置
</td>
</tr>
<tr>
<td> 20 </td>
<td> 19 </td>
<td> R50.391-1.09.00 </td>
<td> 视镜组件 </td>
<td> R50.391-1.00 </td>
<td> 6 </td>
<td> 6 </td>
<td> 6 </td>
<td> 部件 </td>
<td> DL </td>
<td> 26.536 </td>
<td> 159.216 </td>
<td> H1 </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 21 </td>
<td> 20 </td>
<td> R50.391-1.10.00 </td>
<td> 炉膛水冷壁支承圈 </td>
<td> R50.391-1.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td> DL </td>
<td> 99.040 </td>
<td> 99.040 </td>
<td> H1 </td>
<td> ZM </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> DL
</td>
</tr>
<tr>
<td> 22 </td>
<td> 21 </td>
<td> R50.391-1.03 </td>
<td> 铭牌垫板 </td>
<td> R50.391-1.00 </td>
<td> 2 </td>
<td> 2 </td>
<td> 2 </td>
<td> 13MnNiMoR </td>
<td>  </td>
<td> 0.800 </td>
<td> 0.000 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △
</td>
</tr>
<tr>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0 </td>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0.000 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0 </td>
<td> 0 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> 0.000 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 0 </td>
<td> 1 </td>
<td> R50.391-1.01.00 </td>
<td> 气化炉下部 </td>
<td>  </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 部件 </td>
<td>  </td>
<td> 131911.026 </td>
<td> 131911.026 </td>
<td> H1 </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> S
</td>
</tr>
<tr>
<td> 27 </td>
<td> 2 </td>
<td> R50.391-1.01.01 </td>
<td> 下法兰 </td>
<td> R50.391-1.01.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 20MnMoⅣ+堆焊 </td>
<td>  </td>
<td> 4996.600 </td>
<td> 4996.600 </td>
<td> DY </td>
<td> J </td>
<td> H1 </td>
<td> R </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △△
</td>
</tr>
<tr>
<td> 28 </td>
<td> 3 </td>
<td> R50.391-1.01.02 </td>
<td> 吊耳 </td>
<td> R50.391-1.01.00 </td>
<td> 4 </td>
<td> 4 </td>
<td> 4 </td>
<td> Q345R </td>
<td>  </td>
<td> 3.210 </td>
<td> 12.840 </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △
</td>
</tr>
<tr>
<td> 29 </td>
<td> 4 </td>
<td> R50.391-1.01.03 </td>
<td> 法兰 </td>
<td> R50.391-1.01.00 </td>
<td> 2 </td>
<td> 2 </td>
<td> 2 </td>
<td> 20MnMoⅢ </td>
<td>  </td>
<td> 58.700 </td>
<td> 117.400 </td>
<td> DY </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △
</td>
</tr>
<tr>
<td> 30 </td>
<td> 5 </td>
<td> R50.391-1.01.04 </td>
<td> 锥形封头 </td>
<td> R50.391-1.01.00 </td>
<td> 1 </td>
<td> 1 </td>
<td> 1 </td>
<td> 13MnNiMoR </td>
<td>  </td>
<td> 14340.000 </td>
<td> 14340.000 </td>
<td> H1 </td>
<td> XZ </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △△
</td>
</tr>
<tr>
<td> 31 </td>
<td> 6 </td>
<td> R50.391-1.01.05 </td>
<td> 接管 φ33.7X4.5 L=446 </td>
<td> R50.391-1.01.00 </td>
<td> 6 </td>
<td> 6 </td>
<td> 6 </td>
<td> 16Mn </td>
<td>  </td>
<td> 1.450 </td>
<td> 8.700 </td>
<td> H1 </td>
<td> XZ </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △
</td>
</tr>
<tr>
<td> 32 </td>
<td> 7 </td>
<td> R50.391-1.01.06 </td>
<td> 法兰 WN25-600 RF Sch80 </td>
<td> R50.391-1.01.00 </td>
<td> 6 </td>
<td> 6 </td>
<td> 6 </td>
<td> 16MnⅢ </td>
<td>  </td>
<td> 1.820 </td>
<td> 10.920 </td>
<td> DY </td>
<td> J </td>
<td> H1 </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td>  </td>
<td> △
</td>
</tr>
<tr>
<td> 
</td>
</tr>
<tr>
<td> 
</td>
</tr>
</table>
