<div class="modal hide fade" id="designBOM_edit_modal" modal-size-width="0.9" tabindex="-1" role="dialog" aria-lableledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="modal-title" id="modal_title">设计库修改</h2>
    </div>
    <div class="modal-body" >
    <form class="form-inline well" id="materiel__form">
      {% csrf_token %}
      <div class="row" id="materiel_div">
            
      </div>
    </form>
    <form class="well" id="circulationroute_form">
      {% csrf_token %}
      <div class="row" id="circulationroute_div">

      </div>
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" id="save_desginBOM_btn" data-dismiss="modal" id="cancel_change">关闭</button>
    <button type="button" class="btn btn-primary" data-dismiss="" id="save_materiel_excecute">保存</button>
</div>
