<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>工作令：03015001B</h5>
    <h5>产品名称：第一中温变换炉</h5>
    <h5>单位：公斤</h5>
    <h5>编制人：</h5>
    <h5>审核人：</h5>
</div>
<div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
    <div class="dataTables_length">
        <span class="btn btn-small btn-primary">完成</span>
        <span class="btn btn-small btn-primary">审核</span>
        <span class="btn btn-small btn-primary">设计修改记录</span>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>工作票号</td>
                <td>件号</td>
                <td>图号</td>
                <td>所属图号</td>
                <td>名称</td>
                <td>材料</td>
                <td>数量</td>
                <td>净重</td>
                <td>总重</td>
                <td>流转路线</td>
                <td>备注</td>
            </tr>
        </thead>
        <tbody>
            {% for item in BOM %}
            <tr iid="{{item.id}}" data-toggle="modal" data-target="#designBOM_edit_modal">
                <td>{{item.index}}</td>
                <td></td>
                <td>{{item.schematic_index}}</td>
                <td>{{item.parent_schematic_index|default_if_none:""}}</td>
                <td>{{item.name}}</td>
                <td>{{item.material|default_if_none:""}}</td>
                <td>{{item.count|default_if_none:""}}</td>
                <td>{{item.net_weight|default_if_none:""}}</td>
                <td>{{item.total_weight|default_if_none:""}}</td>
                <td>{{item.route}}</td>
                <td>{{item.remark}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
