<ul>
    <li><a href="/techdata/techPreparationPlan">技术准备计划</a></li>
    <li><a href="/techdata/techFileDirectory">工艺技术文件目录</a></li>
    <li><a href="/techdata/designBOM">设计库编辑</a></li>
    <li><a href="/techdata/connectionOrientationEdit">管口方位图编辑</a></li>
    <li><a href="/techdata/processExamination">工艺性审查</a></li>
    <!--<li><a href="/techdata/firstFeeding">先投件明细表</a></li>
    <li><a href="/techdata/principalMaterial">主材定额明细</a></li>
    <li><a href="/techdata/auxiliaryMaterial">辅材定额明细</a></li>-->
    <li><a href="/techdata/processBOM">工艺库编辑</a></li>
    <li><a href="/techdata/weldEdit">焊接返修工艺编辑</a></li>
    <!--<li><a href="/techdata/weldList">焊缝明细</a></li>
    <li><a href="/techdata/weldQuota">焊材定额</a></li>-->
    <li><a href="/techdata/programmeEdit">编程套料编辑</a></li>
    <li><a href="/techdata/techInstallWeld">装焊工艺编辑</a></li>
    <li><a href="/techdata/techHotDeel">热处理列表</a></li>
    <li><a href="/techdata/techTestPresure">试压工艺编辑</a></li>
    <li><a href="/techdata/techBoxMaterial">装箱备料工艺</a></li>
    <!--<li><a href="/techdata/techBoxWeld">装箱焊材消耗定额</a></li>
    <li><a href="/techdata/techBoxOutbought">装箱外购件明细表</a></li>-->
    <li><a href="/techdata/techDetailTable">定额与明细</a></li>
</ul>

