<td>{{item.schematic_index|default_if_none:""}}</td>
<td>{{item.name|default_if_none:""}}</td>
<td>{{item.count|default_if_none:""}}</td>
<td>{{item.material|default_if_none:""}}</td>
<td>{{item.net_weight|default_if_none:""}}</td>
<td>{{item.total_weight|default_if_none:""}}</td>
<td>{{item.circulationroute.L1|default_if_none:""}}</td>
<td>{{item.circulationroute.L2|default_if_none:""}}</td>
<td>{{item.circulationroute.L3|default_if_none:""}}</td>
<td>{{item.circulationroute.L4|default_if_none:""}}</td>
<td>{{item.circulationroute.L5|default_if_none:""}}</td>
<td>{{item.remark|default_if_none:""}}</td>
