<td>{{item.materiel_belong.index|default_if_none:""}}</td>
<td>{{item.materiel_belong.schematic_index|default_if_none:""}}</td>
<td>{{item.materiel_belong.name|default_if_none:""}}</td>
<td>{{item.materiel_belong.count|default_if_none:""}}</td>
<td>{{item.materiel_belong.material|default_if_none:""}}</td>
<td>{{item.materiel_belong.net_weight|default_if_none:""}}</td>
<td>{{item.materiel_belong.total_weight_cal|default_if_none:""}}</td>
<td>{{item.materiel_belong.circulationroute.L1|default_if_none:""}}</td>
<td>{{item.materiel_belong.circulationroute.L2|default_if_none:""}}</td>
<td>{{item.materiel_belong.circulationroute.L3|default_if_none:""}}</td>
<td>{{item.materiel_belong.circulationroute.L4|default_if_none:""}}</td>
<td>{{item.materiel_belong.circulationroute.L5|default_if_none:""}}</td>
<td>{{item.remark|default_if_none:""}}</td>
<td><span class="btn btn-danger btn-small btn-remove">删除</span></td>
