<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">规格</span>
            {{principal_form.size}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">数量</span>
            {{principal_form.count}}
        </div>
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">单重</span>
            {{principal_form.weight}}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">材质</span>
            {{principal_form.material}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">执行标准</span>
            {{principal_form.stardard}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">供货状态</span>
            {{principal_form.status}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">备注</span>
            {{principal_form.remark}}
        </div>
    </div>
</div>
