<!-- <form class="form-search ">
    &nbsp;&nbsp;&nbsp;&nbsp;<font size="4px"><b>工作令</b>&nbsp;&nbsp;</font>
    <select class="input-medium search-query" id="search_pending_order">
        <option style="width:200px">1</option>
        <option style="width:200px">2</option>
        <option style="width:200px">3</option>
        <option style="width:200px">4</option>
        <option style="width:200px">5</option>
    </select>
    <span class="btn" id="order_search">检索</span> 
</form> -->
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>工作令：03015001B</h5>
        <h5>产品名称：第一中温变换炉</h5>
        <h5>单位：公斤</h5>
        <h5>编制人：</h5>
        <h5>审核人：</h5>
    </div>
    <div class="widget-content nopadding">
        <div class="dataTables_length">
            <span class="btn btn-small btn-primary">完成</span>
            <span class="btn btn-small btn-primary">审核</span>
        </div>
        <table class="table table-bordered table-striped" >

            <thead>
                <th>序号</th>
                <th>工作令</th>
                <th>名称</th>
                <th>图号</th>
                <th>票号</th>
                <th>数量</th>
                <th>材质</th>
                <th>外形尺寸</th>
                <th>毛重（kg）</th>
                <th>备注</th>

            </thead>
            <tbody>
                {% for item in list%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.order}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.schematic_index}}</td>
                    <td>{{item.index}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.material}}</td>
                    <td>?不明?</td>
                    <td>{{item.total_weight}}</td>
                    <td>{{item.remark}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
