<div class="dataTables_length">
    <span class="btn btn-small btn-primary">设计意见</span>
    <span class="btn btn-small btn-primary">审核</span>
</div>
<table class="table table-bordered table-striped" >
	
	<thead>
		<th>序号
		</th>
		<th>零部件号及名称
		</th>
		<th>图号
		</th>
		<th>存在问题
		</th>
		<th>改进建议
		</th>
	</tbody> 
	<tbody>
		<tr>
			<td>1
			</td>
			<td>23
			</td>
			<td>23
			</td>
			<td>23
			</td>
			<td>23
			</td>
		</tr> 
		<tr>
			<td>2
			</td>
			<td>23
			</td>
			<td>23
			</td>
			<td>23
			</td>
			<td>23
			</td>
		</tr> 
	</tbody>
</table>