<td rowspan="2" style="vertical-align: middle">{{item.index}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.sub_index}}</td>
<td>{{item.schematic_index}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.count|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.material|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.net_weight|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.total_weight_cal|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.route}}</td>
<td rowspan="2"></td>
<td>{{item.GX1|default_if_none:""}}</td>
<td>{{item.GX2|default_if_none:""}}</td>
<td>{{item.GX3|default_if_none:""}}</td>
<td>{{item.GX4|default_if_none:""}}</td>
<td>{{item.GX5|default_if_none:""}}</td>
<td>{{item.GX6|default_if_none:""}}</td>
<td>{{item.GX7|default_if_none:""}}</td>
<td>{{item.GX8|default_if_none:""}}</td>
<td>{{item.GX9|default_if_none:""}}</td>
<td>{{item.GX10|default_if_none:""}}</td>
<td>{{item.GX11|default_if_none:""}}</td>
<td>{{item.GX12|default_if_none:""}}</td>

<td rowspan="2" style="vertical-align: middle">{{item.remark|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle"><span class="btn btn-small btn_edit_transfer_card">编辑</span></td>
<td rowspan="2" style="vertical-align: middle"><span class="btn btn-small btn_open_weld_modal">添加</span></td>
