<br/>
<table class="table table-bordered" style="width: 50%">
    <tbody>
        <tr>
            <th>工序</th>
            {% for process in process_list %}
                <td>{{process.get_name_display}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>工号</th>
            {% for process in process_list %}
                <td>{{process.index}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>工时</th>
            {% for process in process_list %}
                <td>{{process.hour}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>说明</th>
            {% for process in process_list %}
                <td>{{process.instruction}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>操作</th>
            {% for process in process_list %}
                <td><span class="btn btn-danger btn-small btn-del-process" pid="{{process.id}}">删除</span></td>
            {% endfor %}
        </tr>
    </tbody>
</table>
