<td rowspan="2" style="vertical-align: middle">{{item.index}}</td>
<td rowspan="2" style="vertical-align: middle"></td>
<td>{{item.schematic_index}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.count|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.material|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle">{{item.net_weight|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle"></td>
<td rowspan="2" style="vertical-align: middle">{{item.route}}</td>
<td rowspan="2"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

<td rowspan="2" style="vertical-align: middle">{{item.remark|default_if_none:""}}</td>
<td rowspan="2" style="vertical-align: middle"><span class="btn btn-mini btn_edit_transfer_card">编辑</span></td>
