<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>工作令</th>
            <th colspan="2">0308006B</th>
            <th>产品名称</th>
            <th colspan="2">煤锁</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td>焊条</td>
        <td>焊丝</td>
        <td>焊带</td>
        <td>焊剂</td>
        <td>规格</td>
        <td>定额(kg)</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="btn">
                删除
            </button>
        </td>
    </tr>
</table>
