<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>文件／文档 名称</th>
            <th>查看</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>原材料定尺板明细</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
    <tr>
        <td>2</td>
        <td>压力容器焊接工艺分析卡</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
    <tr>
        <td>3</td>
        <td>焊接零件准备工艺卡</td></td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
     <tr>
        <td>4</td>
        <td>锻件明细卡</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
     <tr>
        <td>5</td>
        <td>部件加工工艺卡</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
</table>
