<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>文件编号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tr>
        <td>RR01-09055</td>
        <td>已完成</td>
        <td>
            <button class="bnt">
                查看
            </button>
        </td>
    </tr>
    <tr>
        <td>待定</td>
        <td>待审核</td>
        <td>
            <button class="bnt">
                查看
            </button>
        </td>
</table>
