<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>序号</th>
            <th>文件／文档 名称</th>
            <th>查看</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>原材料定尺板明细</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
    <tr>
        <td>2</td>
        <td>压力容器焊接工艺分析卡</td>
        <td><span class="btn btn-primary btn-small btn-delete">查看</span></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
</table>
