<!-- <form class="form-search ">
    工作令
    <span class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>action1</li>
            <li>action2</li>
        </ul>
    </span>
    <span>
        <button class="btn">
            检索
        </button>
    </span> 
</form> -->
<div>
    <button class="btn">
        工艺修改记录
    </button>
    <button class="btn">
        审核
    </button>
</div>
<div class="widget-content">
    <table class="table table-bordered table-striped" style="width:60%">
        <thead>
            <tr>
                <th>工作令</th>
                <th colspan="2">0308006B</th>
                <th>产品名称</th>
                <th colspan="2">煤锁</th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>焊条</td>
            <td>焊丝</td>
            <td>焊带</td>
            <td>焊剂</td>
            <td>规格</td>
            <td>定额(kg)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn">
                    删除
                </button>
            </td>
        </tr>
</table></div>
<div>
    <button class="btn">
        添加
    </button>
</div>

