<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>文件编号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
	<tbody>
		{% for card in card_list %}
		<tr iid="{{card.id}}">
		    <td>{% if card.file_index %} {{card}} {% else %} 待定 {% endif %}</td>
		    <td>
				{% if card.reviewer %} 审核完成
				{% elif card.writer %} 编制完成
				{% else %} 未编制
				{% endif %}
			</td>
		    <td>
		        <a class="btn btn-small" href="/techdata/heatTreatmentTechCardEdit?card_id={{card.id}}">查看</a>
		        <button class="btn btn-small btn-danger delete_card">删除</button>
		    </td>
		</tr>
		{% endfor %}
	<tbody>
</table>
