<table class="table table-bordered table-striped" style="width:90%">
    <thead>
        <tr>
            <th>编号</th>
            <th>件号</th>
            <th>图号</th>
            <th>名称</th>
            <th>数量</th>
            <th>材料</th>
            <th>净重</th>
            <th>消耗</th>
            <th>传递路线</th>
            <th>工序</th>
            <th>工时</th>
            <th>备注</th>
            <th>添加流转卡</th>
        </tr>
    </thead>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>S</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>S</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>S</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>DL</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>DL</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>DL</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>WG</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>DL</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>
            <button class="bnt">
                编辑
            </button>
        <td>节与壳体内壁齐平</td>
        <td>
            <button class="bnt">
                编辑
            </button>
        </td>
    </tr>
</table>
