<table class="table table-bordered table-striped" style="width:60%">
    <thead>
        <tr>
            <th>
                <label class="checkbox">
                    <input type="checkbox" value="">全选
                </label>
            </th>
            <th>序号</th>
            <th>工作令</th>
            <th>图号</th>
            <th>名称</th>
            <th>钢号</th>
            <th>外形尺寸(mm)</th>
            <th>件数</th>
        </tr>
    </thead>
    <tr>
        <td>
            <label class="checkbox">
                <input type="checkbox" value="">
            </label>
        </td>
        <td>1</td>
        <td>0308006B-2A</td>
        <td>R59.138-1.01.00</td>
        <td>煤锁壳体</td>
        <td>Q345R</td>
        <td>D2530X70-5050</td>
        <td>1</td>
    </tr>
    <tr>
        <td>
            <label class="checkbox">
                <input type="checkbox" value="">
            </label>
        </td>
        <td>2</td>
        <td>0308004A-1</td>
        <td>R59.138-1.01.00</td>
        <td>炉体下锥</td>
        <td>Q345R</td>
        <td>D4000X50</td>
        <td>1</td>
    </tr>
</table>
<button class="btn">制表</button>
