<table class="table table-bordered table-striped">
    <colgroup span="1" align="left"></colgroup>
    <colgroup span="1"></colgroup>
    <colgroup align="right"></colgroup>
	<thead>
	    <th>序号</th>
	    <th>工序</th>
	    <th>工艺过程及技术要求</th>
	</thead>
	<tbody>
	    {% for process in process_list %}
	    <tr pid="{{process.id}}" class="tr_process">
	        <td style="vertical-align: middle"><input type="text" value="{{process.index}}" class="input-mini" /></td>
	        <td style="vertical-align: middle"><input type="text" value="{{process.name}}" class="input-mini" /></td>
	        <td><textarea rows="2" cols="90" style="width: 95%">{{process.detail}}</textarea></td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
