
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>工作令：{{work_order.order_index}}</h5>
        <h5>产品名称：{{work_order.product_name}}</h5>
    </div>
    <div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
        <div class="dataTables_length">
        <span id="span_write">
        编制人：
            {% if not work_order.weldquotapagemark.writer %}
            <span class="btn btn-mini btn-primary" id="btn_weld_quota_write_confirm">签字</span>
            {% else %}
            {{work_order.weldquotapagemark.writer.userinfo}}
            {% endif %} 
        </span>

        <span id="span_review">
        审核人：
            {% if not work_order.weldquotapagemark.reviewer %}
            <span class="btn btn-mini btn-primary" id="btn_weld_quota_review_confirm">签字</span>
            {% else %}
            {{work_order.weldquotapagemark.reviewer.userinfo}}
            {% endif %}
        </span>
    </div>
        <table class="table table-bordered table-striped" >
            <tr>
                    <th>类别</th>
                    <th>牌号</th>
                    <th>规格</th>
                    <th>执行标准</th>
                    <th>定额</th>
                    <th>备注</th>
            </tr>
            {% for item in weld_quota_list %}
            <tr iid="{{item.id}}"class="tr_materiel">
                <td >{{item.weld_material.get_categories_display}}</td>
                <td>{{item.weld_material}}</td>
                <td>{{item.size}}</td>
                <td></td>
                <td>{{item.quota}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
