<table class="table table-bordered table-striped">
    <colgroup span="1" align="left"></colgroup>
    <colgroup span="1"></colgroup>
    <colgroup align="right"></colgroup>
    <thead>
        <th>层/道</th>
        <th >焊接方法</th>
        <th>极性</th>
        <th>电流(A)</th>
        <th>电弧电压(V)</th>
        <th>焊接速度(cm/min)</th>
        <th>线能量(kJ/cm)</th>
        <th>备注</th>
    </thead>
    <tbody>
        {% for step in weld_step_list %}
        <tr pid="{{step.id}}" class="tr_process2">
            <td style="vertical-align: middle"><input type="text" value="{{step.layer|default_if_none:""}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >    
                <select type="text" id="id_select"style="width:109px" class="input-mini" >
                    {% if step.weld_method != None %}
                    <option value ="{{step.weld_method.id}}">{{step.weld_method}}</option>
                    {% if step.card_belong.detail.weld_method_1 != step.weld_method %}
                     <option value ="{{step.card_belong.detail.weld_method_1.id}}">{{step.card_belong.detail.weld_method_1}}</option>
                    {% else %}
                    {% if step.card_belong.detail.weld_method_2 != None %}
                    <option value ="{{step.card_belong.detail.weld_method_2.id}}">{{step.card_belong.detail.weld_method_2}}</option>
                    {% endif %}
                    {% endif %}
                    {% else %}
                    <option value ="-1">-------</option>
                    <option value ="{{step.card_belong.detail.weld_method_1.id}}">{{step.card_belong.detail.weld_method_1}}</option>
                    {% if step.card_belong.detail.weld_method_2 != None %}
                    <option value ="{{step.card_belong.detail.weld_method_2.id}}">{{step.card_belong.detail.weld_method_2}}</option>
                    {% endif %}
                    {% endif %}
            </td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.polarity|default_if_none:''}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.electric|default_if_none:''}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.arc_voltage|default_if_none:''}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.weld_speed|default_if_none:''}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.heat_input|default_if_none:''}}" class="input-mini" /></td>
            <td style="vertical-align: middle ;" >
                <input type="text" value="{{step.remark|default_if_none:''}}" class="input-mini" /></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
