<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>工作令：{{work_order.order_index}}</h5>
        <h5>产品名称：{{work_order.product_name}}</h5>
        
    </div>
    <div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
        <div class="dataTables_length">
        <span id="span_write">
        编制人：
            {% if not work_order.weldlistpagemark.writer %}
            <span class="btn btn-mini btn-primary" id="btn_write_confirm">签字</span>
            {% else %}
            {{work_order.weldlistpagemark.writer.userinfo}}
            {% endif %} 
        </span>

        <span id="span_review">
        审核人：
            {% if not work_order.weldlistpagemark.reviewer %}
            <span class="btn btn-mini btn-primary" id="btn_review_confirm">签字</span>
            {% else %}
            {{work_order.weldlistpagemark.reviewer.userinfo}}
            {% endif %}
        </span>
    </div>
        <table class="table table-bordered table-striped" >
            <tr>
                    <th>焊条</th>
                    <th>焊丝</th>
                    <th>焊带</th>
                    <th>焊剂</th>
                    <th>规格</th>
                    <th>定额</th>
            </tr>
           {% for item,value in dic.items%}
            <tr class="tr_weldseam" >
                
                <td id="id_weld_rod">{% if item.2 == "weld_rod" %}{{item.0}}{% endif %}</td>
                <td id="id_weld_wire">{% if item.2 == "weld_wire" %}{{item.0}}{% endif %}</td>
                <td id="id_weld_ribbon">{% if item.2 == "weld_ribbon" %}{{item.0}}{% endif %}</td>
                <td id="id_weld_flux">{% if item.2 == "weld_flux" %}{{item.0}}{% endif %}</td>
                <td >{{item.1}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
