<div class="widget-title">
	<span class="icon"><i class="icon-th"></i></span>
	<h5>工作令：{{work_order.order_index}}</h5>
	<h5>产品名称：{{work_order.product_name}}</h5>
	<h5>单位：公斤</h5>
</div>
<div class="widget-content nopadding" style="max-height:800px; overflow-y:auto;">
    <div class="dataTables_length">
		<span id="span_write">
		编制人：
		    {% if not work_order.weldlistpagemark.writer %}
		    <span class="btn btn-mini btn-primary" id="btn_write_confirm">签字</span>
		    {% else %}
		    {{work_order.weldlistpagemark.writer.userinfo}}
		    {% endif %} 
		</span>

		<span id="span_review">
		审核人：
		    {% if not work_order.weldlistpagemark.reviewer %}
		    <span class="btn btn-mini btn-primary" id="btn_review_confirm">签字</span>
		    {% else %}
		    {{work_order.weldlistpagemark.reviewer.userinfo}}
		    {% endif %}
		</span>
    </div>
    <table class="table table-bordered table-striped" >
        <thead>
	        <tr>
		        <th>零部件图号</th>
		        <th>焊缝编号</th>
		        <th>工作票号</th>
		        <th>焊缝类型</th>
		        <th>焊接方法</th>
		        <th>母材厚度1</th>
		        <th>母材厚度2</th>
		        <th>长度</th>
		        <th>焊材1</th>
		        <th>规格1</th>
		        <th>重量1</th>
		        <th>焊材2</th>
		        <th>规格2</th>
		        <th>重量2</th>
		        <th>备注</th>
	        </tr>
	    <thead>
	    <tbody>
            {% for item in weldseam_list %}
            <tr iid="{{item.id}}" data-toggle="modal" data-target="#card_modal" class="tr_materiel">
                {% include "techdata/widgets/weld_row.html" %}
            </tr>
            {% endfor %}
	    <tbody>
    </table>
</div>
