<br/>
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊缝编号</span>
            {{form.weld_index}}
        </div>
        {% if form.errors.weld_index %}
            {{ form.errors.weld_index }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊缝形式</span>
            {{form.weldseam_type}}
        </div>
        {% if form.errors.weldseam_type %}
            {{ form.errors.weldseam_type }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊接方法</span>
            {{form.weld_method}}
        </div>
        {% if form.errors.weld_method %}
            {{ form.errors.weld_method }}
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">母材厚度1</span>
            {{form.base_metal_thin_1}}
        </div>
        {% if form.errors.base_metal_thin_1 %}
            {{ form.errors.base_metal_thin_1 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">母材厚度2</span>
            {{form.base_metal_thin_2}}
        </div>
        {% if form.errors.base_metal_thin_2 %}
            {{ form.errors.base_metal_thin_2 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊缝长度</span>
            {{form.length}}
        </div>
        {% if form.errors.length %}
            {{ form.errors.length }}
        {% endif %}
    </div>
</div>
<div class="fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊材1</span>
            {{form.weld_material_1}}
        </div>
        {% if form.errors.weld_materiel_1 %}
            {{ form.errors.weld_materiel_1 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">规格1</span>
            {{form.size_1}}
        </div>
        {% if form.errors.size_1 %}
            {{ form.errors.size_1 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">重量1</span>
            {{form.weight_1}}
        </div>
        {% if form.errors.weight_1 %}
            {{ form.errors.weight_1 }}
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">焊材2</span>
            {{form.weld_material_2}}
        </div>
        {% if form.errors.weld_materiel_2 %}
            {{ form.errors.weld_materiel_2 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">规格2</span>
            {{form.size_2}}
        </div>
        {% if form.errors.size_2 %}
            {{ form.errors.size_2 }}
        {% endif %}
    </div>
    <div class="span4">
        <div class="input-prepend">
            <span class="add-on">重量2</span>
            {{form.weight_2}}
        </div>
        {% if form.errors.weight_2 %}
            {{ form.errors.weight_2 }}
        {% endif %}
    </div>
</div>

<span class="btn" id="btn_weldseam_confirm"style="width:40%">确认</span>
<span class="btn" id="btn_cancel"style="width:40%; float: right">取消</span>
