<br/>
<div class="row-fluid">
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">母材1材质</span>
        {{form.bm_texture_1}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">母材1规格</span>
        {{form.bm_specification_1}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">母材2材质</span>
        {{form.bm_texture_2}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">母材2规格</span>
        {{form.bm_specification_2}}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">焊接工艺评定编号</span>
            {{form.procedureQualification_index}}
        </div>
    </div>
    <div class="span3">
        <div class=input-prepend>
            <span class="add-on">焊接位置</span>
            {{form.weld_position}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">编号</span>
            {{form.joint_index}}
        </div>
    </div>
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">备注</span>
            {{form.remark}}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="input-prepend">
            <span class="add-on">焊接方法1</span>
            {{form.weld_method_1}}
        </div>
    </div>
    <div class="span6">
        <div class="input-prepend">
            <span class="add-on">焊接方法2</span>
            {{form.weld_method_2}}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="input-prepend">
            <span class="add-on">焊工持证项目1</span>
            {{form.weld_certification_1}}
        </div>
    </div>
    <div class="span6">
        <div class="input-prepend">
            <span class="add-on">焊工持证项目2</span>
            {{form.weld_certification_2}}
        </div>
    </div>
</div>

