<table class="table table-bordered table-striped" style="width:60%;">
	
	<thead>
		<th>工作令
		</th>
		<th>返修类型
		</th>
		<th>文件/文档名称
		</th>
		<th>
		</th>
	</thead> 
	<tbody>
	<tr>
		<td>
		</td>
		<td>
		</td>
		<td>修补工艺		
		</td>
		<td><span class="btn" id="order_search" style="float:left;margin-left:50px;">查看</span>
		</td>
	</tr> 
	<tr>
		<td>
		</td>
		<td>
		</td>
		<td>压力容器装焊工艺流转卡
		</td>
		<td><span class="btn" id="order_search" style="float:left;margin-left:50px;">查看</span>
		</td>
	</tr> 
	<tr>
		<td>
		</td>
		<td>
		</td>
		<td>压力容器焊缝返修工艺卡	
		</td>
		<td><span class="btn" id="order_search" style="float:left;margin-left:50px;">查看</span>
		</td>
	</tr> 
	</tbody>
</table>