<div id="weldjoint_detail_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.75">
  <div class="modal-header">
    <h2 id="groupLabel">焊接接头工艺</h2>
  </div>

  <div class="modal-body" style="clear:both;">
		<form id="weldjoint_detail_form">
		</form>
  </div>
  <div class="modal-footer">
    <button class="btn" id="weld_joint_detail_save">保存</button>
    <button class="btn" id="weld_joint_detail_dismiss">取消</button>
  </div>
</div>
