<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>工作令</th>
      <th>部件图号</th>
      <th>名称及规格</th>
      <th>数量</th>
      <th>材料</th>
      <th>类</th>
      <th>备注</th>
      <th>工艺路线</th>
      <th>操作</th>
    </tr>
  </thead>
  <tr>
    <td>22</td>
    <td>20150001</td>
    <td>R35.939 1.02</td>
    <td>11 110 170</td>
    <td>112</td>
    <td>Q345R</td>
    <td>Z</td>
    <td>S4 75</td>
    <td>111 103</td>
    <td>
      <button class="btn btn-primary" id="hour-summarize-btn">确认</button>
    </td>
  </tr>
</table>
