<table class="table table-bordered table-striped" id="production_plan_table">
  <thead>
    <tr>
      <th>工作令</th>
      <th>客户名称</th>
      <th>交货期</th>
      <th>产品名称</th>
      <th>数量(台/套)</th>
      <th>产值(万元)</th>
      <th>产量(吨)</th>
      <th>备注</th>
      <th>状态</th>
      <th>计划年月</th>
      <th>操作</th>
    </tr>
  </thead>
  {% for item in productionPlans %}
  <tr>
    <td>{{item.workorder_id}}</td>
    <td>{{item.workorder_id.client_name}}</td>
    <td></td>
    <td>{{item.workorder_id.product_name}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{item.get_status_display}}</td>
    <td>{{item.plan_date|date:"Y-M"}}</td>
    <td>
      <a class="btn btn-primary" id="hour-summarize-btn" data-toggle="modal" data-target="#production_plan_modify_modal">修改</a>
      <button class="btn btn-primary" id="hour-summarize-btn">删除</button>
    </td>

  </tr>
  {% endfor %}
</table>
