<table class="table table=bordered table=striped">
  <thead>
    <tr>
      <th>选择</th>
      <th>工作令</th>
      <th>用户</th>
      <th>交货期</th>
      <th>产品名称</th>
      <th>数量(台/套)</th>
      <th>产值(万元)</th>
      <th>产量(吨)</th>
      <th>备注</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="checkbox" ></td>
      <td>20150001</td>
      <td>太重滨海</td>
      <td>2016-10</td>
      <td>煤锁</td>
      <td>3</td>
      <td>99.54</td>
      <td>23.46</td>
      <td>天津</td>
    </tr>

  </tbody>
</table>
