<table class="table table-bordered table-striped" id="prodplan_table">
  <thead>
    <tr>
      <th>工作令</th>
      <th>客户名称</th>
      <th>交货期</th>
      <th>产品名称</th>
      <th>数量(台/套)</th>
      <th>产值(万元)</th>
      <th>产量(吨)</th>
      <th>备注</th>
      <th>状态</th>
      <th>计划年月</th>
      <th>操作</th>
    </tr>
  </thead>
  {% for item in prodplan_set %}
  <tr planid="{{item.plan_id}}">
    <td>{{item.order}}</td>
    <td>{{item.order.client_name}}</td>
    <td></td>
    <td>{{item.order.product_name}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td statu="{{item.status}}">{{item.get_status_display}}</td>
    <td plandate="{{item.plan_date|date:'Y-m-d'}}">{{item.plan_date|date:"Y年m月"}}</td>
    <td>
      <a class="btn btn-primary" data-toggle="modal" data-target="#prodplan_modify_modal" id="prodplan_update_btn">修改</a>
      <button class="btn btn-primary" id="prodplan_delete_btn">删除</button>
      <!--<button type="button" id="test">test</button>
  </td>-->

  </tr>
  {% endfor %}
</table>
