<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>组号</th>
      <th>操作</th>
    </tr>
  </thead>
  {% for item in production_user_list %}
  <tr uid="{{item.id}}">
    <td>{{item.production_user_id.user.username}}</td>
    <td>{{item.production_user_id.name}}</td>
    <td uid="{{item.production_work_group.id}}">{{item.production_work_group|default:""}}</td>
    <td>
      <a class="btn btn-primary" id="produser_modify_btn">修改</a>
      <button class="btn btn-primary" id="produser_delete_btn">删除</button>
  </tr>
  {% endfor %}
</table>