{% extends "base/_base.html"%}
{% block before_css%}
{{block.super}}
{%endblock%}
{% block main_title %}
<div class="main-title"> 
  <div id="content-header">
    {% block title %}{% endblock %}
  </div>
  <div id="breadcrumb">
    <a href="/home" title="首页" class="tip-bottom">首页</a>
    <a href="#" class="tip-bottom">生产管理</a>
    {% block sub_ref %} {% endblock %}
  </div>
</div>
{%endblock%}

{% block PRODUCTION_ACTICVE%}
active open
{% endblock %}

{% block main_content%}
<div class="main-content">
  
  {% block outter_content%}{%endblock%}

</div> 
{% endblock%}
