<div class="row">
{% for field in apply_item_form %}
<div class="control-group span3 {% if field.errors %} error {% endif %}">
    <label style="text-align:right;width:100px;">{{field.label}}</label>
{{field}}
</div>
{% endfor %}
</div>
{% if apply_item_form.errors %}
<div class="alert alert-error">
    <ul>
    {% for field in apply_item_form %}
    {% if field.errors %}
    <li><strong>[{{field.label}}]</strong>输入有误:{{field.errors.as_text}}</li>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
