{% extends "production/base/none_nav_base.html"%}
{% block title%}
<h1>台帐查询</h1>
{% endblock%}
{% block sub_ref %}
<a href="#" class="current">台帐查询</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/man_hour_summarize.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datetimepicker.css">
<script type="text/javascript" src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>


<div id="search-div" style="margin-bottom:10px;">
  <form class="form-inline" id="ledgerSearchForm">
    {{ledgerSearchForm}}
    <button type="button" class="btn btn-primary">检索</button>
  </form>
</div>

{% include "techdata/widgets/designBOM_table_list.html" %}


<div class="modal hide fade" id="weld_part_order_info_modal" style="width:74%;height:600px;left:35%;top:45%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="modal_title">焊接零件工作票</h2>
      </div>
      <div class="modal-body" id="tableBody">
          {% include "production/widgets/weld_part_order_info_table.html" %}
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" id="TimeChangeTable" onclick="ledger_plantime_change()">更改计划完成日期</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
      </div>

    </div>
  </div>
</div>

<div class="modal hide fade" id="ledger_plantime_modal" style="width:15%;left:60%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="modal_title">更改计划完成时间</h3>
            </div>
            <div class="modal-body" id="ledger_plantime_table">
                {% include "production/widgets/ledger_plantime_table.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="{{STATIC_URL}}js/production/ledger.js"></script>
{% endblock%} 
