<table class="table table-bordered table-striped">
	<tr>
	    <th colspan="4">工作令</th>
		<th colspan="2">编号</th>
	</th>
	<tr>
		<td colspan="4">20150001</td>
		<td colspan="2">1</td>
	</tr>
	<tr>
		<td colspan="2">组号</td>
		<td colspan="4">1</td>
	</tr>
	<tr>
		<td colspan="2">额定工时</td>
		<td colspan="2">50</td>
		<td colspan="2">工票员　张三　５月６日</td>
	</tr>
	<tr>
		<td colspan="2">追加工时</td>
		<td colspan="2">100</td>
		<td colspan="2">定额员　李四　５月８日</td>
	</tr>
	<tr>
		<td colspan="2">检查印</td>
		<td colspan="2"></td>
		<td colspan="2">５月９日</td>
	</tr>
	<tr>
		<td>日期</td>
		<td>完成</td>
		<td>实作</td>
		<td>日期</td>
		<td>完成</td>
		<td>实作</td>
	</tr>
	<tr>
		<td>５月６日</td>
		<td>张三</td>
		<td>李四</td>
		<td>５月６日</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>５月６日</td>
		<td>张三</td>
		<td>李四</td>
		<td>５月６日</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>５月６日</td>
		<td>张三</td>
		<td>李四</td>
		<td>５月６日</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>５月６日</td>
		<td>张三</td>
		<td>李四</td>
		<td>５月６日</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="2">统计员</td>
		<td colspan="4">王五</td>
	</tr>
</table>