<table class="table table-bordered table-striped">
	<thead>
		<tr>
		    <th>工作令</th>
		    <th>编号</th>
		    <th>组号</th>
		    <th>工序</th>
		    <th>额定工时</th>
		    <th>追加工时</th>
		    <th>工票号</th>
		    <th>定额员</th>
		    <th>完工时间</th>
		    <th>工时汇总表</th>
		    <th>工时详情表</th>
		</tr>
	</thead>
	<tr>
		<td>20150001</td>
		<td>001</td>
		<td>1</td>
		<td>00</td>
		<td>5</td>
		<td>2</td>
        <td>张三</td>
		<td>小明</td>
		<td></td>
		<td>
			<button class="btn btn-primary" id="hour-summarize-btn">查看</button>
		</td>
		<td>
			<button class="btn btn-primary" id="hour-detail-btn">查看</button>
		</td>
	</tr>
</table>