<table class="table table-bordered table-striped">
	<tr>
		<td colspan="4">工作令</td>
		<td colspan="2">组号</td>
		<td colspan="2">编号</td>
	</tr>
	<tr>
		<td colspan="4">20150001</td>
		<td colspan="2">1</td>
		<td colspan="2">1</td>
	</tr>
	<tr>
		<td>票号</td>
		<td>工时</td>
		<td>票号</td>
		<td>工时</td>
		<td>票号</td>
		<td>工时</td>
		<td>票号</td>
		<td>工时</td>
	</tr>
	<tr>
		<td>20150001</td>
		<td>5</td>
		<td>20150002</td>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>20150003</td>
		<td>5</td>
		<td>20150004</td>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>20150005</td>
		<td>5</td>
		<td>20150006</td>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>20150007</td>
		<td>5</td>
		<td>20150008</td>
		<td>5</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>