<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>工作令</th>
			<th>工作票号</th>
			<th>组号</th>
			<th>工序</th>
			<th>工时</th>
			<th>工票员</th>
			<th>定额员</th>
			<th>完工时间</th>
		</tr>
	</thead>
	{%for it in process_detail_list%}
		<tr>
			<td>{{it.materiel_belong.order}}</td>
			<td>{{it.materiel_belong.index}}</td>
			<td>{{it.productionworkgroup.name|default:""}}</td>
			<td>{{it.processname}}</td>
			<td>{{it.work_hour}}</td>
			<td></td>
			<td></td>
			<td>{{it.complete_date|default:""}}</td>
		</tr>
	{%endfor%}	
</table>