<table class="table table-bordered table-striped">
	<tr>
	    <th colspan="4">工作令</th>
		<th colspan="2">编号</th>
	</th>
	<tr>
		<td colspan="4">{{work_order}}</td>
		<td colspan="2">1</td>
	</tr>
	<tr>
		<td colspan="2">组号</td>
		<td colspan="4">{{group_num}}</td>
	</tr>
	<tr>
		<td colspan="2">额定工时</td>
		<td colspan="2"></td>
		<td colspan="2">工票员　张三　５月６日</td>
	</tr>
	<tr>
		<td colspan="2">追加工时</td>
		<td colspan="2">100</td>
		<td colspan="2">定额员　李四　５月８日</td>
	</tr>
	<tr>
		<td colspan="2">检查印</td>
		<td colspan="2"></td>
		<td colspan="2">５月９日</td>
	</tr>
	<tr>
		<td>日期</td>
		<td>完成</td>
		<td>实作</td>
		<td>日期</td>
		<td>完成</td>
		<td>实作</td>
	</tr>
	{%for item in process_detail_list%}
	<tr>
		<td>{{item.complete_date|date:'m-d'}}</td>
		<td>{{item.productionworkgroup.name}}</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	{%endfor%}
	<tr>
		<td colspan="2">统计员</td>
		<td colspan="4">王五</td>
	</tr>
</table>