{% extends "production/base/none_nav_base.html"%}
{% block title%}
<h1>材料领用卡</h1>
{% endblock%}
{% block sub_ref %}
<a href="#" class="current">材料领用卡</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL    }}bootstrap-datepicker/css/bootstrap-datetimepicker.css" type="text/css" media="screen" />

<div class="form-inline" style="margin:20px">
    <label>领用单位</label>
    <input type="text">
    <label>领用日期</label>
    <input type="text" id="use_date">
    <label>编号</label>
    <input type="text">
</div>

<a class="btn btn-primary" data-toggle="modal" data-target="#materiel_select">添加领用材料</a>
<div style="margin:20px">
    {% include "production/table/materiel_use_table.html"%}
</div >
<button class="btn btn-primary">生成领料单</button>

<div id="materiel_select" class="modal hide dade" modal-size-width="0.8">
    <div class="modal-header">
        <h2>物料选择</h2>
    </div>
    <div class="modal-body">
        <div class="form-inline">
            <label>工作令</label>
            <input type="text">
            <label>零件图、标准</label>
            <input type="text">
            <button class="btn btn-primary">检索</button>
        </div>
        {% include "production/table/materiel_use_select_table.html"%}

    </div>
    <div class="modal-footer">
        <button class="btn btn-success bid-btn-open" data-dismiss="modal" data-target="#bid_modal">确认</button>
        <button class="btn" data-dismiss="modal" >关闭</button>
    </div>


</div>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>
<script>
    $("#use_date").datetimepicker({
        format:'yyyy-mm-dd',
        weekStart:1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight:1,
        startView:2,
        forceParse:0,
        minView:2
    });
</script>
{% endblock%}
