<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>工作令</th>
            <th>简图</th>
            <th>试压工艺</th>
            <th>工艺库</th>
            <th>产品图</th>
            <th>装箱图</th>
            <th>唛头</th>
            <th>装箱单</th>
            <th>涂装明细</th>
    	</tr>
    </thead>
    <tbody>
        {% for item, statuslist in syn_size_file_list %}
            <tr uid="{{item.sub_order.id}}">
                <td>{{item.sub_order.name}}</td>
                {% for status in statuslist %}
                    {% if not status.1 %}
                        <td>
                            <button class="btn btn-small confirm" uid="{{status.0}}">确认</button>
                        </td>
                    {% else %}
                        <td>
                            <button class="btn btn-small btn-success">已确认</button>
                            <button class="btn btn-small btn-success back" uid="{{status.0}}">撤消</button>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>