<table class="table table-bordered table-striped">
    <thead>
    	<tr>
    		<th>工作令</th>
    		<th>简图</th>
    		<th>试压工艺</th>
    		<th>工艺库</th>
    		<th>产品图</th>
    		<th>装箱图</th>
    		<th>唛头</th>
    		<th>装箱单</th>
    		<th>涂装明细</th>
    	</tr>
    </thead>
    <tr>
    	<td>20150001</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    	<td>
    		<button class="btn check">确认</button>
    	</td>
    </tr>
</table>