{% extends "purchasing/base/none_nav_base.html"%}

{% block title %}
<h1>招标跟踪</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">招标跟踪</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}bootstrap-datepicker/css/bootstrap-datetimepicker.css" >
<link rel="stylesheet" href="{{STATIC_URL}}style/form-style.css" type="text/css" media="screen" />

<div class="widget-content">
  <div>
    {% include "purchasing/purchasing_form_div.html"%}
  </div>
  <div class="row" id="bid_invite_buttons" bidid="{{bidform.bidid}}">
    {%for item in bid_status%}
    <a {%if item.class == "btn-warning" %}href="#BidCommentModal" {%endif%} role="button" class="btn {{item.class}}" data-toggle="modal">{{item.name}}</a>
    {%endfor%}
  </div>
  <br>
</div>


{% include "purchasing/bid_invite/bid_invite_modal.html"%}

<script type="text/javascript" src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/purchasing/bid_track.js"></script>
{% endblock%}
