<div style="margin-bottom:50px">
    <div >
        <span>标单编号:{{bidform.bid_id}}</span>
    </div>

    <div class="widget-box">
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>名称及规格</th>
                        <th>标准号/图号</th>
                        <th>材料牌号</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bidform.materielformconnection_set.all%}
                    <tr>
                        <td>{{item.materiel.name}}</td>
                        <td>{{item.materiel.schematic_index}}</td>
                        <td></td>
                        <td></td>
                        <td>{{item.count}}</td>
                        <td></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <span>创建日期：{{bidform.create_time|date:"Y-m-d"}}</span>
        </div>
        <div class="span5">
            <span>编制日期: {{bidform.establishment_time|date:"Y-m-d"}}</span>
        </div>
    </div>
</div>


