{% extends "purchasing/base/none_nav_base.html"%}

{% block title %}
<h1>物料汇总</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">物料汇总</a>
{% endblock %}

{% block inner_content%}
<button class="btn" style="margin:0 0 12px 0">添加</button>
<!-- <button class="btn">新建采购单</button> -->
<form class="form-search " >
    {{inventoryTypeForm.name}}
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">查询</button>
</form>
<div id="outsourcing_detail" class="display:none">
	{% include "widgets/outsourcing_detail_table.html" %}
</div>
<div id="mainmaterial_quota" class="display:none">
	{% include "widgets/mainmaterial_quota_table.html" %}
</div>
<div id="casting_detail_table" class="display:none">
	{% include "widgets/catsing_detail_table.html" %}
</div>
<div id="outsourcing_detail" class="display:none">
	{% include "widgets/outsourcing_detail_table.html" %}
</div>
{% endblock%}

<script>
	$

</script>