{% extends "purchasing/base/none_nav_base.html"%}

{% block title %}
<h1>物料汇总</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">物料汇总</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/material_summarize.css" type="text/css" media="screen" />

<div id="search_div">
    <form class="form-search " >
        {{inventoryTypeForm.inventory_type}}
        <input type="text" class="input-medium search-query" id="search_key">
        <span class="btn search" id="btn_search">查询</span>
    </form>
</div>

{%include "widgets/inventory_detail.html"%}
<span class="btn" id="add_to_order" data-toggle="modal" data-target="#order_list">加入订购单</span>
<span class="btn" id="add_to_bid" data-toggle="modal" data-target="#bid_list">加入标单</span>
<span class="btn" id="add_to_execute">添加至材料执行</span>


<div id="new_order_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.8">
  <div class="modal-header">
    <h2 id="myModalLabel">订购单</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div class="form-div add">
      <form class="form-search">
        <label>订购单编号：</label>
        <input type="text" class="input-medium" id="order_number">
      </form>
    </div>
    <div class="delete-div">
      <span class="btn" data-dismiss="modal" aria-hidden="true" id="btn-delete">删除</span>
    </div>
    <div class="table-div">
    </div>
    <div class="save-div">
      <span class="btn add save" data-dismiss="modal" aria-hidden="true" id="btn-save">确认保存</span>
    </div>
    <div class="finish-div">
      <span class="btn add save" data-dismiss="modal" aria-hidden="true" id="btn-finish">完成</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="related_model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.8">
  <div class="modal-header">
    <h2 id="myModalLabel">相关库存</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div id="related_html">

    </div>
    <div id="related_table">

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


<div id="bid_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.8">
  <div class="modal-header">
    <h2 id="myModalLabel">标单</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div class="form-div add">
      <form class="form-search">
        <label>标单编号：</label>
        <input type="text" class="input-medium" id="bid_id">
      </form>
    </div>
    <div class="delete-div">
      <span class="btn" id="bid-btn-delete" data-dismiss="modal" aria-hidden="true">删除</span>
    </div>
    <div class="table-div">
    </div>
    <div class="save-div">
      <span class="btn add save" id="bid-btn-save" data-dismiss="modal" aria-hidden="true">确认保存</span>
    </div>
    <div class="finish-div">
      <span class="btn add save" id="bid-btn-finish" data-dismiss="modal" aria-hidden="true">完成</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


<div id="order_list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2 id="myModalLabel">创建中订购单</h2>
  </div>

  <div class="modal-body">
    选择要加入的订购单：
    <select class="input-medium search-query order-select" id="order-select-2">

    </select>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success btn-open" data-dismiss="modal" aria-hidden="true" data-source="#order-select-2" data-toggle="modal" data-target="#new_order_modal">确认</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


<div id="bid_list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2 id="myModalLabel">创建中标单</h2>
  </div>

  <div class="modal-body">
    选择要加入的标单：
    <select class="input-medium search-query bid-select" id="search-query-2">

    </select>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success bid-btn-open" data-dismiss="modal" aria-hidden="true" data-source="#search-query-2" data-toggle="modal" data-target="#bid_modal">确认</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/material_summarize.js"></script>
{% endblock%}
