{% extends "purchasing/base/none_nav_base.html"%}

{% block title %}
<h1>订购单</h1>
{% endblock %}

{% block sub_ref %}
<a href="/purchasing/orderFormManage" class="tip-bottom" data-original-title="订购单管理">订购单管理</a>
<a href="#" class="current">订购单</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/orderform.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL  }}bootstrap-datepicker/css/bootstrap-datetimepicker.css" type="text/css" media="screen" />
<div id="search_div">
	订购单编号: <input type="text" class="input-midium" value="{{order_form.order_id}}" id="index"/> 
	订购单状态: <input type="text" class="input-midium" value="{{order_form.order_status}}" id="status" args="{{order_form.order_status.status}}"/> 
</div>

{% if order_form.order_status.status == 1 %}
<div id="new_purchasing_order">
    <button type="button" class="btn add" id="new_purchase_btn" data-toggle="modal" data-target="#bid_modal">新建标单</button>
    <form class="form-search">
        <select class="input-medium search-query bid-select" id="search-query-1">

        </select>
        <span class="btn search btn-open clear" id="btn-open" data-toggle="modal" data-target="#bid_modal" data-source="#search-query-1">进入</span>
    </form>
</div>
{% endif %}


<div class="widget-content" id="item_table">
    
</div>

{% if order_form.order_status.status == 1 %}
<span class="btn" id="add_to_bid" data-toggle="modal" data-target="#bid_list">加入标单</span>
{% endif %}

<div id="bid_list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2 id="myModalLabel">创建中标单</h2>
  </div>

  <div class="modal-body">
    选择要加入的标单：
    <select class="input-medium search-query bid-select" id="search-query-2">
    
    </select>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success btn-open" data-dismiss="modal" aria-hidden="true" data-source="#search-query-2" data-toggle="modal" data-target="#bid_modal">确认</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div id="bid_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h2 id="myModalLabel">标单</h2>
  </div>

  <div class="modal-body" style="clear:both;">
    <div class="form-div add">
      <form class="form-search">
        <label>标单编号：</label>
        <input type="text" class="input-medium" id="bid_id">
      </form>
    </div>
    <div class="delete-div">
      <span class="btn" id="order_delete" data-dismiss="modal" aria-hidden="true">删除</span>
    </div>
    <div class="table-div">
    </div>
    <div class="save-div">
      <span class="btn add save" id="btn-save" data-dismiss="modal" aria-hidden="true">确认保存</span>
    </div>
    <div class="finish-div">
      <span class="btn add save" id="btn-finish" data-dismiss="modal" aria-hidden="true">完成</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>

<div class="modal  fade" id="order_info_modal" modal-size-width="0.8">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="modal_title">订购单信息修改</h2>
      </div>
      <div class="modal-body" >
        <form class="form-inline well" id="edit_order_form">
          {% csrf_token %}
          <div class="row" id="order_form_div">
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_change">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="" id="save_order">保存</button>
      </div>

</div>

<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/orderform.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}jquery/jquery.form.js"></script>
<script type='text/javascript' src="{{ STATIC_URL }}bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script type='text/javascript' src="{{STATIC_URL}}bootstrap-datepicker/js/bootstrap-datetimepicker.js"></script>
{% endblock%}
