{% extends "purchasing/base/none_nav_base.html"%}

{% block title %}
<h1>订购单管理界面</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">订购单管理界面</a>
{% endblock %}

{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/material_summarize.css" type="text/css" media="screen" />

<div id="search_div">
    <button class="btn add">添加</button>
    <form class="form-search " >
        <label>历史订购单</label> <input type="text" class="input-medium search-query" id="search_key"> <span class="btn" id="btn_search">查看</span>
    </form>
</div>

{% endblock%}
