{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>入库单确认</h1>
{% endblock %}

{% block sub_ref %}
<a href="/purchasing/arrivalInspection">入库单查询</a>
<a href="#" class="current">入库单确认</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" href="{{ STATIC_URL }}style/orderform.css" type="text/css" media="screen" />
<div id="entrybody" entrytype={{entry_type}} entryid={{entry.id}}>
    {% if entry_type == 1%}
    {% include "storage/wordhtml/weldentry.html"%}
    {% elif entry_type == 2%}
    {% include "storage/wordhtml/steelentry.html"%}
    {% elif entry_type == 3%}
    {% include "storage/wordhtml/auxiliaryToolEntry.html"%}
    {% elif entry_type == 4%}
    {% include "storage/wordhtml/outsideentry.html"%}
    {% endif%}
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" modal-size-width="0.6">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="myModalLabel">修改</h2>
    </div>
    <div class="modal-body">
        <form id="entry_item_form" action=""  iid={{is_show}}>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="save_entry_item">保存</button>
    </div>
</div>
    <center style="margin:90px;">
    <button  id="entry_confirm" style="width:15%;height:30px;" class="btn btn-primary" type="button" onclick="purchasing_entry_confirm({{entry.id}},{{entry_type}});">入库单确认</button>
    </center>
<script type="text/javascript" src="{{STATIC_URL}}js/purchasing/arrival_inspection.js"></script>
{% endblock%}
