{% extends "purchasing/base/none_nav_base.html"%}
{% block main_title %}
<div class="main-title"> 
	<div id="content-header">
        <h1>采购跟踪</h1>
	</div>
	<div id="breadcrumb">
		<a href="#" title="Go to Home" class="tip-bottom">Home</a>
        <a href="#" class="tip-bottom">采购管理</a>
        <a href="#" class="current">采购跟踪</a>
    </div>
</div>
{%endblock%}
{% block inner_content%}

<form class="form-horizontal">
<div class="control-group">
	<label class="control-label">Password</label>
	<div class="controls half-form">
		<input type="text" name="bidnum" id="bidnum">
	</div>
</div>
</form>
{% endblock%}
