{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>到货检验</h1>
{% endblock %}

{% block sub_ref %}
<a href="/purchasing/arrivalInspection" class="current">到货检验</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" href="{{STATIC_URL}}style/form-style.css" type="text/css" media="screen" />
<form class="form-search " method="POST" action="">
    {% csrf_token %}
    <label>标单查询</label>
    <input type="text"  name="bidform_search" class="input-medium search-query">
    <button type="submit" class="btn">查询</button>
</form>
<div  id="arrivalIns" class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th"></i>
        </span>
        <h5>未检验标单</h5>
    </div>
    <div class="widget-content nopadding">
        {% if bidFormSet  %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>标单编号</th>
                    <th>标单状态</th>
                    <th>到货检验</th>
                    <th>入库确认</th>
                </tr>
            </thead>
            <tbody>
                {%for bid in bidFormSet %}
                <tr>
                    <td>{{bid.bid_id}}</td>
                    <td>{{bid.bid_status}}</td>
                    <td><a type="btn" class="btn" href="{% url arrivalCheck  bid.bid_id %}" >到货检验</a></td>
                    <td><a type="btn" class="btn" href="{% url mat_entry  bid.bid_id %}" >入库确认</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {% else %}
        <center>
            <p>没有待检标单</p>
        </center>
        {% endif %}
    </div>
</div>

<script type='text/javascript' src="{{STATIC_URL}}js/purchasingfollowing/purchasing_following.js"></script>
{% endblock%}
