{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>到货检验</h1>
{% endblock %}

{% block sub_ref %}
<a href="/purchasing/arrivalInspection" class="current">到货检验</a>
{% endblock %}
{% block inner_content%}
<div id="arrInsTable">
{% include "purchasing/widgets/arrivalinspection_table.html" %}
</div>
{% if is_show %}
<div>
    <form class="form-inline" method="" id="selectentryform">
        {% for field in entrytype %}
        {{field.label}}
        {{field}}
        <button type="button" class="btn btn-primary" onclick="select_entry_type({{bid}});">选择完成</button>
        {% endfor %}
    </form>
</div>
{% endif %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">入库单内容确认</h3>
    </div>
    <div class="modal-body" id="additemstable">
        {% include "purchasing/addentryitems.html" %} 
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="save_entry_items();">确认</button>
    </div>
</div>
<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/purchasing_following.js"></script>
{% endblock%}
