{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>入库单确认</h1>
{% endblock %}

{% block sub_ref %}
<a href="/purchasing/arrivalInspection" class="current">入库单查询</a>
{% endblock %}
{% block inner_content%}
<form class="form form-inline" method="post">
    {% csrf_token %}
    <label class="control-label">待处理入库单</label>
    <select class="form-control span2" style="margin:10px;" id="entry_select">
        <option value="-1">------</option>
        <option value="1">焊材</option>
        <option value="2">钢材</option>
        <option value="3">辅助工具</option>
        <option value="4">外购件</option>
    </select>
    <button type="button" class="btn" onclick="entry_query()">查询</button>
</form>
<div id="entry_table">

</div>
<script type="text/javascript" src="{{STATIC_URL}}js/purchasing/arrival_inspection.js"></script>
{% endblock%}
