{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>供应商选择</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">供应商选择</a>
{% endblock %}
{% block inner_content%}
<div class="bidform-info">
    {%include "purchasing/bidform_div.html"%}
</div>

<form class="form-search ">
    <input type="text" class="input-medium search-query" id="search_input">
    <button type="button" class="btn" id="supplier_search">供应商检索</button>
</form>
<div>
</div>
<div id="supplier_select_table" bid={{bidform.id}}>
    {% include "purchasing/supplier/supplier_select_table.html"%}
</div>
<div>
    <br>
        <button class="btn btn-primary btn-large"  id="select_confirm">供应商选择确认</button>
        <button class="btn btn-inverse btn-large"  id="select_reset">供应商选择重置</button>
        <button class="btn btn-success btn-large" id="select_submit" style="float:right">供应商选择提交</button>
</div>
<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/supplier_select.js"></script>
{%endblock%}
