{% extends "purchasing/base/none_nav_base.html"%}
{% block title %}
<h1>材料代用</h1>
{% endblock %}

{% block sub_ref %}
<a href="#" class="current">材料代用</a>
{% endblock %}
{% block inner_content%}
<link rel="stylesheet" href="{{STATIC_URL}}style/form-style.css" type="text/css" media="screen" />
<div   class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th"></i>
        </span>
        <h5>材料代用申请单</h5>
    </div>
    <div class="widget-content nopadding">
        <form method="POST" class="form-horizontal" style="margin-bottom:30px;" sid={{subapply.id}}  id="subapply">
            {% csrf_token %}
            {% if subapply_form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>注意!</strong>请确认全部内容填写正确后再提交.
            </div>
            {% endif %}
            <div class="row">
                <div class="span4">
                    <div class="control-group {% if subapply_form.receipts_code.errors %} error {% endif %}">
                        <label class="control-label">
                            {{subapply_form.receipts_code.label}}
                        </label>
                        <div class="controls subapply">
                            {{subapply_form.receipts_code}}
                        </div>
                    </div>
                    <div class="control-group {% if subapply_form.pic_code.errors %} error {% endif %}">
                        <label class="control-label">
                            {{subapply_form.pic_code.label}}
                        </label>
                        <div class="controls subapply">
                            {{subapply_form.pic_code}}
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group {% if subapply_form.work_order.errors %} error {% endif %}">
                        <label class="control-label">
                            {{subapply_form.work_order.label}}
                        </label>
                        <div class="controls subapply">
                            {{subapply_form.work_order}}
                        </div>
                    </div>
                    <div class="control-group {% if subapply_form.bidform.errors %} error {% endif %}">
                        <label class="control-label">
                            {{subapply_form.bidform.label}}
                        </label>
                        <div class="controls subapply">
                            {{subapply_form.bidform}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left:50px;">
                <a type="button" role="button" data-toggle="modal" class="btn btn-primary" href="#myModal" onclick="add_item()" >添加</a>
            </div>
            <div id = "subtable" >
                {% include "purchasing/widgets/sub_table.html"  %}
            </div>

            <blockquote>
                <fieldset>
                    <legend>{{subapply_form.reasons.label}}</legend>
                    {{subapply_form.reasons}}
                </fieldset>
                <fieldset>
                    <legend>{{subapply_form.comments.label}}</legend>
                    {{subapply_form.comments}}
                </fieldset>
            </blockquote>
            <div class="control-group {% if subapply_form.is_approval.errors %} error {% endif %}">
                <label class="control-label">
                    {{subapply_form.is_approval.label}}
                </label>
                <div class="controls subapply">
                    {{subapply_form.is_approval}}
                </div>
            </div>           
            <div class="control-group">
                <div class="subbtn">
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">添加</h3>
            </div>
            <div class="modal-body">
                <form id="item_form" action="" class="form-horizontal">
                    {% for field in subitem_form %}
                    <div class="control-group">
                        <label class="control-label">{{field.label_tag}}</label>
                        <div class="controls" id="div{{forloop.counter}}">
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button class="btn btn-primary" onclick="subitem_save();">保存</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src="{{STATIC_URL}}js/purchasing/purchasing_following.js"></script>
{% endblock%}

