<table class="table table=bordered table=striped">
  <thead>
    <tr>
      <th>工作令号</th>
      <th>工作票</th>
      <th>工作票号</th>
      <th>材料牌号</th>
      <th>单位</th>
      <th>数量</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr iid="{{item.id}}">
      <td>{{item.sub_workorder}}</td>
      {% if item.orgin_materiel %}
      <td>{{item.orgin_materiel}}</td>
      <td>{{item.orgin_materiel.index}}</td>
      {% else %}
      <td>{{item.relate_material.orgin_materiel}}</td>
      <td>{{item.orgin_materiel.index}}</td>
      {% endif%}
      <td>{{item.material}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.count}}</td>
      <td><button type="button" class="btn btn-primary" >添加</button></td>
      {% endfor %}
    </tr>
  </tbody>
</table>
