<table class="table table=bordered table=striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>工作令号</th>
            <th>零件图、标准</th>
            <th>名称及规格</th>
            <th>材料牌号</th>
            <th>单位</th>
            <th>数量</th>
            <th>标记号</th>
            <th>备注</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>NX48CP70 113004 0001</td>
            <td>R35 939 1.00</td>
            <td>14</td>
            <td>Q345R</td>
            <td>装焊工部</td>
            <td>2</td>
            <td>Z</td>
            <td></td>
            <td>
                <button class="btn btn-danger">删除</button>
            </td>
        </tr>
    </tbody>
</table>
