<form class="well form" method="POST" action="">
  <table class="table table-bordered" style="width:60%">
    <thead>
      <tr>
        <th>{{bidApplyForm.apply_company.label}}</th>
        <th>{{bidApplyForm.apply_company}}</th>
        <th>{{bidApplyForm.demand_company.label}}</th>
        <th>{{bidApplyForm.demand_company}}</th>
      </tr>
      <tr>
        <th>{{bidApplyForm.bid_project.label}}</th>
        <th>{{bidApplyForm.bid_project}}</th>
        <th>{{bidApplyForm.bid_date.label}}</th>
        <th>{{bidApplyForm.bid_date}}</th>
      </tr>
      <tr>
        <th>{{bidApplyForm.bid_project.label}}</th>
        <th>{{bidApplyForm.bid_project}}</th>
        <th>{{bidApplyForm.work_order.label}}</th>
        <th>{{bidApplyForm.work_order}}</th>
      </tr>
      <tr>
        <th>{{bidApplyForm.special_model.label}}</th>
        <th>{{bidApplyForm.special_model}}</th>
        <th>{{bidApplyForm.amount.label}}</th>
        <th>{{bidApplyForm.amount}}</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
