<table class="table table-condensed" id="alloced_subject_table">
  <thead>
    <tr>
      <th>序号</th>
      <th>合同编号</th>
      <th>单位名称</th>
      <th>协作内容</th>
      <th>合同金额</th>
      <th>开票金额</th>
      <th>已付金额</th>
      <th>应付金额</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {%for item in bidForms %}
    <tr>
      <td>{{ item.bid_id }}</td>
      <td>{{ item.contract_id }}</td>
      <td>{{ item.supplier_select }}</td>
      <td></td>
      <td>{{ item.contract_amount }}</td>
      <td>{{ item.billing_amount }}</td>
      <td>{{ item.prepaid_amount }}</td>
      <td>{{ item.payable_amount }}</td>
      <td></td>
      <td>
        <a class="btn btn-primary" tid="{{CONTRACT_ADD_AMOUNT}}">添加已付金额</a>
        <a class="btn btn-primary" tid="{{CONTRACT_DETAIL}}">查看已付金额明细</a>
      </td>
    </tr>
  {%endfor%}
  </tbody>
</table>
