<table class="table table-bordered">
    <thead>
        <th>入库单编号</th>
        <th>日期</th>
        <th>采购员</th>
        <th>操作</th>
    </thead>
    </tbody>
        {% for entry in entry_set %}
        <tr>
            <td>{{entry.entry_code}}</td>
            <td>{{entry.create_time|date:"Y年m月d日"}}</td>
            <td>{{entry.purchaser.userinfo}}</td>
            <td>
            <a class="btn btn-warning" href="/purchasing/arrivalInspectionConfirm/{{entry_type}}/{{entry.id}}">待处理</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
