
{{process_following_form.bidform}}    
{{process_following_form.following_date}}    
{{process_following_form.executor}}
<div class="form-group">
    <label class="add-on">跟踪方式</label>
    {{process_following_form.following_method}}    
</div>
<div style="color:red">
    {{process_following_form.following_method.errors}}    
</div>
<div class="form-group">
    <label class="add-on">跟踪反馈</label>
    {{process_following_form.following_feedback}}    
</div>
<div style="color:red">
    {{process_following_form.following_feedback.errors}}    
</div>
<div class="form-group">
    <label class="add-on">相关文件</label>
    {{process_following_form.file_obj}}    
</div>
<div style="color:red">
    {{process_following_form.file_obj.errors}}    
</div>
<div class="form-group">
    <label class="add-on">是否通知工艺部门</label>
    {{process_following_form.inform_tech}}    
</div>
<div style="color:red">
    {{process_following_form.inform_tech.errors}}    
</div>
