<div class="widget-box">

    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>制表人</th>
                    <th>生成日期</th>
                    <th>查看</th>
                </tr>
            </thead>
            <tbody>
                {% for materielexecute in  materielexecute_set %}
                <tr id="{{materielexecute.id}}">
                    <td>{{materielexecute.document_number}}</td>
                    <td>{{materielexecute.document_lister}}</td>
                    <td>{{materielexecute.date|date:"Y-m-d"}}</td> 
                    <td>
                        {% if materielexecute.is_save%}
                        <a class='btn btn-primary' id ="detail_view" href="materielExecuteDetail/0/{{materielexecute.id}}" >查看</a>
                        {% else%}
                        <a class='btn btn-warning' id ="detail_view" href="materielExecuteDetail/1/{{materielexecute.id}}" >编辑</a>
                        
                        {% endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
