
<div class="widget-box">
    
    <div class="widget-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>材质</th>
                    <th>材质编号</th>
                    <th>规格</th>
                    <th>数量</th>
                    <th>状态</th>
                    <th>受压</th>
                    <th>探伤级别</th>      
                    <th>复探</th>
                    <th>定额</th>
                    <th>零件</th>
                    <th>余料</th>
                    <th>备注</th>
                    {% if not materielexecute_detail_set.0.materiel_execute.is_save %}
                    <th>修改</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in materielexecute_detail_set %}
                <tr id="{{item.id}}">
                    <td>{{item.materiel.material}}</td>
                    <td>{{item.materiel.material_mark}}</td>
                    <td>{{item.materiel.specification}}</td>
                    <td>{{item.materiel.count}}</td> 
                    <td>{{item.materiel.status}}</td>
                    <td>{{item.materiel.press}}</td>
                    <td>{{item.materiel.detection_level}}</td> 
                    <td>{{item.materiel.recheck}}</td>
                    <td>{{item.quota}}</td>
                    <td>{{item.part}}</td>
                    <td>{{item.oddments}}</td>
                    <td>{{item.remark}}</td>
                    {% if not item.materiel_execute.is_save %}
                    <td>
                        <button class="btn btn-primary" id="detail_edit" uid={{item.id}}>修改</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
