<table class="table table-bordered table-striped" style="width: 60%;">
    <thead>
        <tr>
            <th>新闻标题</th>
            <th>发布时间</th>
            <th>操作</th>

        </tr>
    </thead>
    {% for news in item_list%}
    <tr iid="{{news.id}}">
        <td>{{ news.news_title }}</td>
        <td>{{ news.news_date|date:"y-m-d" }}</td>
        <td>
            <a class="btn btn-primary btn-small btn-view-authority" href="/news/newslist/{{ news.id }}">查看新闻</a>
            <span class="btn btn-danger btn-small btn-delete">删除</span>
        </td>
    </tr>
    {% endfor%}
</table>
<hr>
<div id="paginator" class="paginator">
  {%include "widgets/paginator.html"%}
</div>
