<table class="table table-bordered table-striped table-hover" style="width:80%">
    <thead>
        <tr>
            <th>工作令</th>
            <th>明细表</th>
            <th>联系单</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order}}</td>
            <td>
                <form class="form-inline">
                {{inventoryTypeForm.inventory_type}}
                <span class="btn inventory_open" args="{{order.id}}">查看</span>
                </form>
            </td>
            <td>
                <form class="form-inline">
                <select class="input"><option>1</option><option>2</option></select> <span class="btn">下载</span>
                </form>
            </td>
            <td>
                <span class="btn btn-primary">完成</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
