
<div class="form-group">
    <label class="add-on">供应商编号:{{supplier.supplier_id}}</label>
</div>
<div class="form-group">
    <label class="add-on">供应商名称:{{supplier.supplier_name}}</label>
</div>
<div class="widget-box">
    <div class="widet-content nopadding">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>文件名称</th>
                    <th>文件大小</th>
                    <th>上传时间</th>
                    <th>删除</th>
                </tr>
            </thead>
            {% for file in supplier.supplierfile_set.all%}
            <tr id={{file.id}}>
                <td>{{file.name}}</td>
                <td>{{file.file_size}}</td>
                <td>{{file.upload_time|date:"Y-m-d h:m:s"}}</td>
                <td><button id="file_delete" class="btn btn-danger">删除</button></td>
            </tr>
            {% endfor%}
        </table>
    </div>
</div>
