<div class="modal hide fade"  id="supplier_info1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>修改提示信息模版:</h3>
    </div>
    <div class="modal-body">
        <form class="well form" id="template_notice_info_form" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label class="add-on">标题</label>
                {{template_notice_message_form.title}}    
            </div>
            <div class="form-group">
                <label class="add-on">内容</label>
                {{ template_notice_message_form.message }}
            </div>
        </form><!--end school_email_send_form-->
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" onclick="cancel_change();">关闭</a>
        <a class="btn btn-primary" data-dismiss="modal" 
            id="add_or_update_notice">保存更新</a>
    </div>
</div>


<div class="modal hide fade" style="display: none;" id="supplier_info">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>修改个人信息:</h3>
        <small id="change_info_student_id"></small>
    </div>
    <div class="modal-body">
        <form class="well form" id="member_change_info_form" method="POST" action="">
            {% csrf_token %}
            <!-- <div class="input-prepend"> -->
            <!--   <span class="add-on"><i class="icon-envelope"></i></span>{{student_group_form.student_id}} -->
            <!-- </div> -->
            <!-- <div class="input-prepend"> -->
            <!--   <span class="add-on"><i class="icon-th-large"></i></span>{{student_group_form.student_name}} -->
            <!-- </div> -->
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>{{student_group_info_form.student_id}}
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>{{student_group_info_form.email}}
            </div>
            <div class="input-prepend memberchange">
                <span class="add-on"><i class="icon-volume-up"></i></span>{{student_group_info_form.telephone}}
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-home"></i></span>{{student_group_info_form.classInfo}}
            </div>

        </form><!--end school_email_send_form-->
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" onclick="cancel_change();">关闭</a>
        <a class="btn btn-primary" data-dismiss="modal" onclick="change_member_info();">保存更新</a>
    </div>
</div>

